<div class="article-detail-overcontainer">
  <div class="article-detail-container">
    <h1>{{displayArticle.title}}</h1>
    <img class="header-img" mat-card-sm-image [src]="[image_url]">
  </div>
</div>

<app-articles-list-form
  [article]="article"
  (formEmit)="submitForm($event)"
  (cancelEmit)="cancelForm($event)"
>

</app-articles-list-form>
<a (click)="back()" mat-flat-button color="primary">Back</a>
<input type="file" (change)="uploadFile($event)">
<button (click)="addArticleImage()" mat-flat-button color="accent">Add Article Image</button>
<div *ngFor="let articleImage of articleImages">
  <div class="img-form-overcontainer">
    <div class="img-form-container">
      <p>Image Position:
        {{articleImage.image_location}}</p>
      <img class="img-mini" [src]="articleImage.image_location">
      <button (click)="openArticleImageForm(articleImage)" mat-flat-button color="accent">Edit Article Image</button>
    </div>
  </div>
</div>
