<header class="mat-typography">
  <ng-template #notLoggedInButtons>
    <div *ngIf="!landingBool">
      <mat-toolbar color="primary" fxShow fxHide.lt-sm>
        <a routerLink="/">
          <div style="width: 50px; height: 50px; text-align: center; padding: 0px;">
            <img style="width: 100%; height: 100%; object-fit: cover"
                 src="assets/images/estpat-logo-trans.svg" alt="">
          </div>
        </a>
        <a mat-button routerLink="/"><p class="mat-display-1" style="margin-bottom: 0px">EstPat</p></a>
        <div fxFlex fxLayout="row" fxLayoutAlign="end center">
          <a mat-flat-button color="accent" routerLink="/account/login"><p class="mat-h3">Login</p></a>
        </div>
      </mat-toolbar>
      <mat-toolbar color="primary" fxHide fxShow.lt-sm>
        <a routerLink="/" aria-label="home page button 1">
          <div style="width: 50px; height: 50px; text-align: center; padding: 0px;">
            <img style="width: 100%; height: 100%; object-fit: cover"
                 src="assets/images/estpat-logo-trans.svg" alt="">
          </div>
        </a>
        <a mat-button routerLink="/" aria-label="home page button 2">
          <p class="mat-display-1" style="margin-bottom: 0">EstPat</p>
        </a>
        <div fxFlex fxLayout="row" fxLayoutAlign="end center">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu button">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <a mat-menu-item routerLink="/account/signup"><p class="mat-h3">Sign up</p></a>
            <a mat-menu-item routerLink="/account/login"><p class="mat-h3">Login</p></a>
          </mat-menu>
        </div>
      </mat-toolbar>
    </div>
  </ng-template>
  <mat-toolbar *ngIf="isLoggedIn; else notLoggedInButtons" color="primary" fxHide fxShow.gt-sm>
    <a routerLink="/home">
      <div style="width: 50px; height: 50px; text-align: center; padding: 0px;">
        <img style="width: 100%; height: 100%; object-fit: cover"
             src="assets/images/estpat-logo-trans.svg" alt="">
      </div>
    </a>
    <a mat-button routerLink="/home"><p class="mat-display-1" style="margin-bottom: 0px">EstPat</p></a>
    <div fxFlex fxLayout="row" fxLayoutAlign="end center">
      <a mat-flat-button color="accent" routerLink="/account"><p class="mat-h3">Account</p></a>
      <a mat-button (click)="logout()"><p class="mat-h3">Logout</p></a>
    </div>
  </mat-toolbar>


  <mat-toolbar *ngIf="isLoggedIn" color="primary" fxHide fxShow.lt-md
               fxLayout="row" fxLayoutAlign="center center">

    <button mat-icon-button (click)="showMenu()" aria-label="navigation menu">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="example-spacer"></span>
    <a routerLink="/home" aria-label="home page button 1">
      <div style="width: 50px; height: 50px; text-align: center; padding: 0px;">
        <img style="width: 100%; height: 100%; object-fit: cover"
             src="assets/images/estpat-logo-trans.svg" alt="">
      </div>
    </a>

    <span class="example-spacer"></span>
    <div>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="/account"><p class="mat-h3">Account</p></a>
        <a mat-menu-item (click)="logout()"><p class="mat-h3">Logout</p></a>
      </mat-menu>
    </div>
  </mat-toolbar>
</header>
