<h1>Family Name: {{family.family_name}}</h1>
<div gdcolumns="repeat(auto-fill, minmax(350x, 1fr))" gdgap="10px"
     style="display: grid; grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); gap: 15px;"
>
  <div gdcolumn="auto / span 2"
       gdrow="auto / span 2"
       style="grid-area: auto / auto / span 2 / span 2;">
    <div>
      <app-chart-fam-est-detail [countryAggeds]="countryAgged"></app-chart-fam-est-detail>
    </div>
  </div>
  <div gdcolumn="auto / span 2"
       style="grid-column: auto / span 2">
    <div *ngIf="countryAgged.length>0 && displayedColumns.length>1">
      <app-fam-est-detail-table [displayedColumns]="displayedColumns"
                                [countryAggeds]="countryAgged"
      >
      </app-fam-est-detail-table>
    </div>
  </div>
  <div>
    <app-fam-det-table [applications]="applications"></app-fam-det-table>
  </div>
  <div class="light-accent-background buttonContainer" fxLayout="column" fxLayoutAlign="start center">
    <div class="buttonContainerTitle">
      <h3>Export data</h3>
    </div>
    <button mat-flat-button color="accent" (click)="exportXLSX()">Export</button>
  </div>
</div>
