
.buttonContainer {
  margin: 5px;
  margin-top: 0px;
  padding: 10px;
  max-width: 100px;
}

.spacer {
  height: 50px;
  margin: 20px;
}

.overContainer {
  margin: 20px;
}

.buttonContainerTitle {
  margin-top: 10px;
}

