<div style="max-width: 1030px">
  <h1>Family Name: {{family.family_name}}</h1>
  <app-chart-fam-est-detail
    [countryAggeds]="countryAgged"></app-chart-fam-est-detail>
  <div *ngIf="countryAgged.length>0 && displayedColumns.length>1">
    <app-fam-est-detail-table [displayedColumns]="displayedColumns"
                              [countryAggeds]="countryAgged"
    >
    </app-fam-est-detail-table>
  </div>
  <div class="light-accent-background spacer">
  </div>

  <div class="overContainer" fxLayout="row" fxLayoutAlign="space-between start"
       fxLayout.lt-md="column"
  >
    <app-parameter-details [formData]="famform"></app-parameter-details>
    <div>
      <app-fam-det-table [applications]="applications"></app-fam-det-table>
    </div>
    <div class="light-accent-background buttonContainer"
         fxLayout="column" fxLayoutAlign="start center" fxFlex>
      <div class="buttonContainerTitle">
        <h3>Export</h3>
      </div>
      <button mat-flat-button color="accent" (click)="exportXLSX()">Excel</button>
    </div>
  </div>


</div>
