<div fxLayout="column" fxLayoutAlign="center center">
<h3>Custom Filing Transforms</h3>
<table mat-table [dataSource]="cstmFilTrans">
    <ng-container matColumnDef="id">
        <th mat-header-cell class="header-cell" *matHeaderCellDef><h3>ID</h3></th>
        <td mat-cell class="mat-cell" *matCellDef="let element">
        {{element.id}}</td>
    </ng-container>
    <ng-container matColumnDef="country">
        <th mat-header-cell class="header-cell" *matHeaderCellDef><h3>Country</h3></th>
        <td mat-cell *matCellDef="let element">
        <div *ngIf="editingRow==element.id; else country">
        <div [formGroup]="form">
            <mat-form-field appearance="outline" color="accent">
            <mat-label>Country</mat-label>
            <mat-select class="custom-select"
                        formControlName="country">
                <mat-option *ngFor="let t of countries"
                            [value]="t.id+''">
                    {{t.country}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        </div>
        </div>
        <ng-template #country>
        {{element.country}}
        </ng-template>
        </td>
    </ng-container>
    <ng-container matColumnDef="date_diff">
        <th mat-header-cell  class="header-cell" *matHeaderCellDef><h3>Date Diff</h3></th>
        <td mat-cell *matCellDef="let element">
        <div *ngIf="editingRow==element.id; else datediff">
        <div [formGroup]="form">
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Date Diff</mat-label>
            <input matInput type="text"
                    formControlName="date_diff">
        </mat-form-field>
        <button mat-button (click)="submit()"><mat-icon>done</mat-icon></button>
        <button mat-button (click)="cancel()"><mat-icon>close</mat-icon></button>


        </div>
        </div>
        <ng-template #datediff>
        {{element.date_diff}}
                </ng-template>
        </td>
    </ng-container>
    <ng-container matColumnDef="appl_type">
        <th mat-header-cell  class="header-cell" *matHeaderCellDef><h3>ApplType</h3></th>
        <td mat-cell *matCellDef="let element">
        
        <div *ngIf="editingRow==element.id; else applType">
        <div [formGroup]="form">
            <mat-form-field appearance="outline" color="accent">
            <mat-label>Country</mat-label>
            <mat-select class="custom-select"
                        formControlName="appl_type">
                <mat-option *ngFor="let t of applTypes"
                            [value]="t.id+''">
                    {{t.application_type}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        </div>
        </div>
        <ng-template #applType>
        {{element.appl_type.application_type}}
        </ng-template>
        </td>
    </ng-container>
    <ng-container matColumnDef="prev_appl_type">
        <th mat-header-cell  class="header-cell" *matHeaderCellDef>
        <h3>PrevApplType</h3></th>
        <td mat-cell *matCellDef="let element">
        
        <div *ngIf="editingRow==element.id; else prevApplType">
        <div [formGroup]="form">
            <mat-form-field appearance="outline" color="accent">
            <mat-label>PrevApplType</mat-label>
            <mat-select class="custom-select"
                        formControlName="prev_appl_type">
                <mat-option *ngFor="let t of applTypes"
                            [value]="t.id+''">
                    {{t.application_type}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        </div>
        </div>
        <ng-template #prevApplType>
        <div *ngIf="element.prev_appl_type != undefined">
            {{element.prev_appl_type.application_type}}
        </div> 
        </ng-template>
        </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (dblclick)="editRow(row)"
    *matRowDef="let row; columns: displayedColumns;">
    </tr>
</table>
</div>