<div>
    <h4>Change Password</h4>
    <div>
        <form [formGroup]="resetPasswordForm"
              (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill">
                <mat-label for="new_password">New Password</mat-label>
                <input matInput type="password" formControlName="new_password"
                       class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.new_password.errors }" />
                <div *ngIf="submitted && f.new_password.errors"
                     class="invalid-feedback">
                    <div *ngIf="f.new_password.errors.required">
                        New Password is required</div>
                </div>
            </mat-form-field>
            <div></div>
            <mat-form-field appearance="fill">
                <mat-label for="re_new_password">Repeat New Password</mat-label>
                <input matInput type="password" formControlName="re_new_password"
                       class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.re_new_password.errors }" />
                <div *ngIf="submitted && f.re_new_password.errors"
                     class="invalid-feedback">
                    <div *ngIf="f.re_new_password.errors.required">
                        New Password is required</div>
                </div>
            </mat-form-field>
            <div></div>
            <mat-form-field appearance="fill">
                <mat-label for="password">Password</mat-label>
                <input matInput type="password"
                       formControlName="current_password"
                       class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors"
                     class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">
                        Password is required</div>
                </div>
            </mat-form-field>
            <div class="form-group">
                <button mat-flat-button color="accent" [disabled]="loading">
                    <span *ngIf="loading"
                          class="spinner-border spinner-border-sm mr-1">
                    </span>
                    Save
                </button>
                <a mat-flat-button routerLink="/account">Cancel</a>
            </div>
        </form>
    </div>
</div>

