<mat-card class="standard-card mat-elevation-z4">
  <mat-card-title-group>
    <mat-card-title>{{article.title}}</mat-card-title>
  </mat-card-title-group>
  <img mat-card-sm-image [src]="[image_url]">
  <mat-card-content style="margin-top:10px;">
    <div style="text-align: left;"[innerHtml]="article.content_short"></div>
  </mat-card-content>
  <mat-card-actions>
    <a mat-flat-button [routerLink]="['/articles/' + article.slug]" color="accent">Learn More</a>
  </mat-card-actions>
</mat-card>
