<table mat-table [dataSource]="tableData">
  <ng-container matColumnDef="id">
    <th mat-header-cell class="header-cell" *matHeaderCellDef><h4>ID</h4></th>
    <td mat-cell class="mat-cell" *matCellDef="let element">
      {{element.id}}</td>
  </ng-container>


  <ng-container matColumnDef="official_cost">
    <th mat-header-cell class="header-cell" *matHeaderCellDef>
      <h4>Official Cost</h4></th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="editingRow===element.id; else officialCost">
        <div [formGroup]="form">
          <mat-form-field class="megaInput" appearance="outline" color="accent">
            <mat-label>Official Cost</mat-label>
            <input matInput type="text"
                   formControlName="official_cost">
          </mat-form-field>
        </div>
      </div>
      <ng-template #officialCost>
        {{element.official_cost}}
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="appl_type">
    <th mat-header-cell class="header-cell" *matHeaderCellDef>
      <h4>ApplType</h4></th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="editingRow===element.id; else applType">
        <div [formGroup]="form">

          <mat-form-field class="megaInput" appearance="outline" color="accent">
            <mat-label>ApplType</mat-label>
            <mat-select class="custom-select"
                        formControlName="appl_type">
              <mat-option *ngFor="let t of applTypes"
                          [value]="t.id">
                {{t.application_type}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <ng-template #applType>
        <div *ngIf="element.appl_type">
          {{element.appl_type.application_type}}
        </div>
      </ng-template>
    </td>
  </ng-container>
  <ng-container matColumnDef="oa_final_bool">
    <th mat-header-cell class="header-cell" *matHeaderCellDef>
      <h4>oa_final_bool</h4></th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="editingRow===element.id; else oatype">
        <div [formGroup]="form">
          <mat-form-field class="megaInput" appearance="outline" color="accent">
            <mat-label>oa type</mat-label>
            <input matInput type="text"
                   formControlName="oa_final_bool">
          </mat-form-field>
        </div>
      </div>
      <ng-template #oatype>
        <div *ngIf="element.conditions">
          {{element.oa_final_bool}}
        </div>
      </ng-template>
    </td>
  </ng-container>
  <ng-container matColumnDef="prior_pct_same_country">
    <th mat-header-cell class="header-cell" *matHeaderCellDef>
      <h4>Prior PCT Same Country</h4></th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="editingRow===element.id; else priorPCTSameCountry">
        <div [formGroup]="form">
          <mat-form-field class="megaInput" appearance="outline" color="accent">
            <mat-label>Prior PCT Same Country</mat-label>
            <input matInput type="text"
                   formControlName="prior_pct_same_country">
          </mat-form-field>
        </div>
      </div>
      <ng-template #priorPCTSameCountry>
        {{element.prior_pct_same_country}}
      </ng-template>
    </td>
  </ng-container>
  <ng-container matColumnDef="oa_first_final_bool">
    <th mat-header-cell class="header-cell" *matHeaderCellDef>
      <h4>oa_first_final_bool</h4></th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="editingRow===element.id; else oafirst">
        <div [formGroup]="form">
          <mat-form-field class="megaInput" appearance="outline" color="accent">
            <mat-label>oa first final bool</mat-label>
            <input matInput type="text"
                   formControlName="oa_first_final_bool">
          </mat-form-field>
        </div>
      </div>
      <ng-template #oafirst>
        <div *ngIf="element.conditions">
          {{element.oa_first_final_bool}}
        </div>
      </ng-template>
    </td>
  </ng-container>


  <ng-container matColumnDef="condition_indep_claims_min">
    <th mat-header-cell class="header-cell" *matHeaderCellDef>
      <h4>Indep Claims Min</h4></th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="editingRow===element.id; else conditionsIndepClaimsMin">
        <div [formGroup]="form">
          <div formGroupName="conditions">
            <mat-form-field class="megaInput" appearance="outline" color="accent">
              <mat-label>Claims Min</mat-label>
              <input matInput type="text"
                     formControlName="condition_indep_claims_min">
            </mat-form-field>
          </div>
        </div>
      </div>
      <ng-template #conditionsIndepClaimsMin>
        <div *ngIf="element.conditions">
          {{element.conditions.condition_indep_claims_min}}
        </div>
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="condition_indep_claims_max">
    <th mat-header-cell class="header-cell" *matHeaderCellDef>
      <h4>Indep Claims Max</h4></th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="editingRow===element.id; else conditionsIndepClaimsMax">
        <div [formGroup]="form">
          <div formGroupName="conditions">
            <mat-form-field class="megaInput" appearance="outline" color="accent">
              <mat-label>Claims Min</mat-label>
              <input matInput type="text"
                     formControlName="condition_indep_claims_max">
            </mat-form-field>
          </div>
        </div>
      </div>
      <ng-template #conditionsIndepClaimsMax>
        <div *ngIf="element.conditions">
          {{element.conditions.condition_indep_claims_max}}
        </div>
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="condition_claims_min">
    <th mat-header-cell class="header-cell" *matHeaderCellDef>
      <h4>Claims Min</h4></th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="editingRow===element.id; else conditionsClaimsMin">
        <div [formGroup]="form">
          <div formGroupName="conditions">
            <mat-form-field class="megaInput" appearance="outline" color="accent">
              <mat-label>Claims Min</mat-label>
              <input matInput type="text"
                     formControlName="condition_claims_min">
            </mat-form-field>
          </div>
        </div>
      </div>
      <ng-template #conditionsClaimsMin>
        <div *ngIf="element.conditions">
          {{element.conditions.condition_claims_min}}
        </div>
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="condition_claims_max">
    <th mat-header-cell class="header-cell" *matHeaderCellDef>
      <h4>Claims Max</h4></th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="editingRow===element.id; else conditionsClaimsMax">
        <div [formGroup]="form">
          <div formGroupName="conditions">
            <mat-form-field class="megaInput" appearance="outline" color="accent">
              <mat-label>Claims Max</mat-label>
              <input matInput type="text"
                     formControlName="condition_claims_max">
            </mat-form-field>
          </div>
        </div>
      </div>
      <ng-template #conditionsClaimsMax>
        <div *ngIf="element.conditions">
          {{element.conditions.condition_claims_max}}
        </div>
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="condition_pages_total_min">
    <th mat-header-cell class="header-cell" *matHeaderCellDef>
      <h4>Pages Min</h4></th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="editingRow===element.id; else conditionsPagesMin">
        <div [formGroup]="form">
          <div formGroupName="conditions">
            <mat-form-field class="megaInput" appearance="outline" color="accent">
              <mat-label>Pages Min</mat-label>
              <input matInput type="text"
                     formControlName="condition_pages_total_min">
            </mat-form-field>
          </div>
        </div>
      </div>
      <ng-template #conditionsPagesMin>
        <div *ngIf="element.conditions">
          {{element.conditions.condition_pages_total_min}}
        </div>
      </ng-template>
    </td>
  </ng-container>


  <ng-container matColumnDef="condition_pages_total_max">
    <th mat-header-cell class="header-cell" *matHeaderCellDef>
      <h4>Pages Max</h4></th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="editingRow===element.id; else conditionsPagesMax">
        <div [formGroup]="form">
          <div formGroupName="conditions">
            <mat-form-field class="megaInput" appearance="outline" color="accent">
              <mat-label>Pages Max</mat-label>
              <input matInput type="text"
                     formControlName="condition_pages_total_max">
            </mat-form-field>
          </div>
        </div>
      </div>
      <ng-template #conditionsPagesMax>
        <div *ngIf="element.conditions">
          {{element.conditions.condition_pages_total_max}}
        </div>
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="condition_drawings_min">
    <th mat-header-cell class="header-cell" *matHeaderCellDef>
      <h4>Drawings Min</h4></th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="editingRow===element.id; else conditionsDrawingsMin">
        <div [formGroup]="form">
          <div formGroupName="conditions">
            <mat-form-field class="megaInput" appearance="outline" color="accent">
              <mat-label>Drawings Min</mat-label>
              <input matInput type="text"
                     formControlName="condition_drawings_min">
            </mat-form-field>
          </div>
        </div>
      </div>
      <ng-template #conditionsDrawingsMin>
        <div *ngIf="element.conditions">
          {{element.conditions.condition_drawings_min}}
        </div>
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="condition_drawings_max">
    <th mat-header-cell class="header-cell" *matHeaderCellDef>
      <h4>Drawings Max</h4></th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="editingRow===element.id; else conditionsDrawingsMax">
        <div [formGroup]="form">
          <div formGroupName="conditions">
            <mat-form-field class="megaInput" appearance="outline" color="accent">
              <mat-label>Drawings Max</mat-label>
              <input matInput type="text"
                     formControlName="condition_drawings_max">
            </mat-form-field>
          </div>
        </div>
      </div>
      <ng-template #conditionsDrawingsMax>
        <div *ngIf="element.conditions">
          {{element.conditions.condition_drawings_max}}
        </div>
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="condition_entity_size">
    <th mat-header-cell class="header-cell" *matHeaderCellDef>
      <h4>Entity Size</h4></th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="editingRow===element.id; else conditionsEntitySize">
        <div [formGroup]="form">
          <div formGroupName="conditions">
            <mat-form-field class="megaInput" appearance="outline" color="accent">
              <mat-label>ApplType</mat-label>
              <mat-select class="custom-select"
                          formControlName="condition_entity_size">
                <mat-option *ngFor="let t of entitySizes"
                            [value]="t.id">
                  {{t.entity_size}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <ng-template #conditionsEntitySize>
        <div *ngIf="element.conditions">
          <div *ngIf="element.conditions.condition_entity_size">
            {{element.conditions.condition_entity_size.entity_size}}
          </div>
        </div>
      </ng-template>
    </td>
  </ng-container>
  <ng-container matColumnDef="condition_complex">
    <th mat-header-cell class="header-cell" *matHeaderCellDef>
      <h4>Complex Conditions</h4></th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="editingRow===element.id; else conditionsComplex">
        <div [formGroup]="form">
          <div formGroupName="conditions">
            <mat-form-field class="megaInput" appearance="outline" color="accent">
              <mat-label>Complex Conditions</mat-label>
              <mat-select class="custom-select"
                          formControlName="condition_complex">
                <mat-option *ngFor="let t of complexConditions"
                            [value]="t.id">
                  {{t.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <ng-template #conditionsComplex>
        <div *ngIf="element.conditions">
          <div *ngIf="element.conditions.condition_complex">
            {{element.conditions.condition_complex.name}}
          </div>
        </div>
      </ng-template>
    </td>
  </ng-container>
  <ng-container matColumnDef="law_firm_cost">
    <th mat-header-cell class="header-cell" *matHeaderCellDef>
      <h4>LawFirm Cost</h4></th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="editingRow===element.id; else conditionsLawFirmCost">
        <div [formGroup]="form">
          <div formGroupName="law_firm_template">
            <mat-form-field class="megaInput" appearance="outline" color="accent">
              <mat-label>LawFirm Cost</mat-label>
              <input matInput type="text"
                     formControlName="law_firm_cost">
            </mat-form-field>
          </div>
        </div>
      </div>
      <ng-template #conditionsLawFirmCost>
        <div *ngIf="element.law_firm_template">
          {{element.law_firm_template.law_firm_cost}}
        </div>
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="law_firm_date_diff">
    <th mat-header-cell class="header-cell" *matHeaderCellDef>
      <h4>LawFirm Date Diff </h4></th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="editingRow===element.id; else LawFirmDateDiff">
        <div [formGroup]="form">
          <div formGroupName="law_firm_template">
            <mat-form-field class="megaInput" appearance="outline" color="accent">
              <mat-label>LawFirm Date Diff</mat-label>
              <input matInput type="text"
                     formControlName="date_diff">
            </mat-form-field>
          </div>
        </div>
      </div>
      <ng-template #LawFirmDateDiff>
        <div *ngIf="element.law_firm_template">
          {{element.law_firm_template.date_diff}}
        </div>
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="date_diff">
    <th mat-header-cell class="header-cell" *matHeaderCellDef><h4>Date Diff</h4></th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="editingRow===element.id; else datediff">
        <div [formGroup]="form">

          <mat-form-field class="megaInput" appearance="outline" color="accent">
            <mat-label>Date Diff</mat-label>
            <input matInput type="text"
                   formControlName="date_diff">
          </mat-form-field>
        </div>
      </div>
      <ng-template #datediff>
        {{element.date_diff}}
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="buttons">
    <th mat-header-cell class="header-cell" *matHeaderCellDef>
      <h4>Buttons</h4></th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="editingRow===element.id; else buttonsRow">
        <button mat-button (click)="submit()"><mat-icon>done</mat-icon></button>
        <button mat-button (click)="cancel()"><mat-icon>close</mat-icon></button>
        <button mat-button (click)="delete(element)"><mat-icon>delete_outline
        </mat-icon>
        </button>
      </div>
      <ng-template #buttonsRow>

      </ng-template>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row (dblclick)="editRow(row)"
      *matRowDef="let row; columns: displayedColumns;">
  </tr>
</table>
<button (click)="newRow()">new row</button>

