<meta name="description" content="EstPat Patent Cost Estimator">
<div class="over-landing">
  <div class="mat-typography">
    <div fxLayout="column">


      <div class="world-background">
        <div class="world-background-container" fxFlex fxLayout="column" fxLayoutAlign="center center">
          <h1 class="mat-display-2">Estimate Global Patent Costs</h1>
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" class="blurb-container">
        <p class="mat-title">What We Do</p>
        <section class="mat-subheading-2 blurb">
          Estimate your total patent costs in multiple jurisidictions. Gather insight into your future patent costs
          estimates. All estimates are saved in your online account and is available for download at any time.
        </section>
      </div>
      <div class="blurb-container-2">
        <h2>Ready to Start? Sign Up below</h2>
        <div>
          <a mat-flat-button color="accent" routerLink="/account/signup">Sign Up</a>
          <a mat-button color="accent" routerLink="/account/login">Login</a>
        </div>
      </div>

    </div>
  </div>
  <app-features-demonstration></app-features-demonstration>
  <app-example-report></app-example-report>
  <app-pricing></app-pricing>
  <div style="margin-bottom: 100px; margin-top: 100px;">
    <h2>Ready to Start? Sign Up below</h2>
    <div>
      <a mat-flat-button style="margin:10px;" color="accent" routerLink="/account/signup">Sign Up</a>
    </div>
  </div>
</div>
