<p>detailed-fee-category-form works!</p>
<button (click)="addRow()">Add New</button>
<button (click)="deleteRow()">Delete</button>
<button (click)="removeFilters()">Remove Filters</button>
<ag-grid-angular
  style="width: 1200px; height: 600px; margin-left: 10px; margin-top: 10px;"
  class="ag-theme-alpine-custom"
  [rowData]="detailedFeeCategories"
  [columnDefs]="columnDefs"
  [rowSelection]="rowSelection"
  [floatingFiltersHeight]="floatingFiltersHeight"
  [headerHeight]="headerHeight"
  [defaultColDef]="defaultColDef"
  [immutableData]="true"
  [getRowNodeId]="getRowNodeId"
  [modules]="modules"
  [frameworkComponents]="frameworkComponents"
  (cellValueChanged)="onCellValueChanged($event)"
  (gridReady)="onGridReady($event)"
  (firstDataRendered)="onFirstDataRendered($event)"
></ag-grid-angular>
