
<h1 style="margin-top: 60px; margin-bottom: 0px;" class="mat-display-2">Pricing</h1>
<div class="pricing-cards-over">
<div class="pricing-card mat-elevation-z8">
  <p class="mat-h2">FREE</p>
  <mat-divider style="margin-bottom:15px;"></mat-divider>
  <p class="mat-h2">Regular Price</p>
  <p style="margin-bottom: 0px;" class="mat-display-2">$0</p>
  <p>includes, charts, and exports to excel and pdf</p>
  <a class="signupbutton" mat-flat-button color="accent" routerLink="/account/signup">Sign Up</a>
</div>
</div>
