
<h1 style="margin-top: 60px; margin-bottom: 0px;" class="mat-display-2">Pricing</h1>
<div class="pricing-cards-over">
<div class="pricing-card">
  <p class="mat-h3">Basic Price</p>
  <p class="mat-display-1" style="margin-bottom:30px;"><s>$16</s><span class="second-text">/estimate</span></p>
  <mat-divider style="margin-bottom:15px;"></mat-divider>
  <p class="mat-h2">Discount Price</p>
  <p style="margin-bottom: 0px;"class="mat-display-2">$0<span class="second-text"> first estimate</span></p>
  <p class="mat-h4">$8<span class="second-text mat-h1">/estimate</span></p>
  <a class="signupbutton" mat-flat-button color="accent" routerLink="/account/signup">Sign Up</a>
</div>
</div>
