<div class="container">
<form class="form-container" [formGroup]="passResetForm">
  <h1>Reset Password</h1>
  <mat-form-field appearance="fill">
    <mat-label>
        New Password
        <input matInput type="password" formControlName="new_password">
    </mat-label>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>
        Reenter Password
        <input matInput type="password" formControlName="re_new_password">
    </mat-label>
  </mat-form-field>
  <button mat-flat-button color="accent" type="submit" (click)="submitReset()">Reset Password</button>
</form>
</div>
