<head>
  <meta name="description" content="EstPat home page for learning about patent cost estimations.
  Accurate prediction of patent costs tool. Insights into patent portfolio fees and expenditures">
</head>

<div class="home-tiles" fxShow.sm fxShow.gt-sm fxHide>
  <mat-card class="mat-elevation-z4 standard-card">
    <mat-card-header>
      <mat-card-title>New Estimate</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Create another estimate here
      </p>
      <img alt="bird image" src="assets/images/Peregrine-falcon.webp" style="width: 100%">
    </mat-card-content>
    <mat-card-footer>
      <mat-card-actions>
        <button mat-flat-button color="accent"
                routerLink="/fam-est-form">
          Create Estimate
        </button>
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>

  <mat-card class="mat-elevation-z4 standard-card">
    <mat-card-header>
      <mat-card-title>Coming Soon...</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <img src="assets/images/Cardinal.webp" style="width: 100%">
      <ul fxLayout="column" fxLayoutAlign="start start">
        <li>Lawyer Fee Estimates</li>
        <li>Custom Fees</li>
        <li>Custom Filing Dates</li>
        <li>Custom Office Actions</li>
      </ul>
    </mat-card-content>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>
  <mat-card class="mat-elevation-z4 standard-card" >
    <mat-card-header>
      <mat-card-title>View Estimates</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-family-estimate-table [famEsts]="famEsts"
                                 [pageSize]="pageSize"
                                 (famEstFormdataID)="seeDetails($event)">
        >
      </app-family-estimate-table>
    </mat-card-content>
    <mat-card-footer>
      <mat-card-actions>
        <button mat-flat-button color="accent" style="right: 15px"
                routerLink="/estimations">
          View All
        </button>
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>
  <div *ngIf="latest_article.id !== 0">
    <app-article-card [article]="latest_article"></app-article-card>
  </div>
  <div *ngIf="featured_lawfirm.id !== 0">
    <app-law-firm-card [lawFirm]="featured_lawfirm"></app-law-firm-card>
  </div>
</div>
<div fxHide fxShow.lt-sm>
  <mat-card class="mat-card-mobile standard-card">
    <mat-card-header>
      <mat-card-title>New Estimate</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Create another estimate here
      </p>
    </mat-card-content>
    <mat-card-footer>
      <mat-card-actions>
        <button mat-flat-button color="accent" style="right: 15px"
                routerLink="/fam-est-form">
          Create Estimate
        </button>
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>
  <mat-card class="mat-card-mobile standard-card">
    <mat-card-header>
      <mat-card-title>Coming Soon...</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul fxLayout="column" fxLayoutAlign="start start">
        <li>Lawyer Fee Estimates</li>
        <li>Custom Fees</li>
        <li>Custom Filing Dates</li>
        <li>Custom Office Actions</li>
      </ul>
    </mat-card-content>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>
  <mat-card class="mat-card-mobile standard-card">
    <mat-card-header>
      <mat-card-title>View Estimates</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-family-estimate-table [famEsts]="famEsts"
                                 [pageSize]="pageSize">
      </app-family-estimate-table>
    </mat-card-content>
    <mat-card-footer>
      <mat-card-actions>
        <button mat-flat-button color="accent"
                routerLink="/estimations">
          View All
        </button>
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>
  <div class="mat-card-mobile" *ngIf="latest_article.id !== 0">
    <app-article-card [article]="latest_article"></app-article-card>
  </div>
  <div class="mat-card-mobile" *ngIf="featured_lawfirm.id !== 0">
    <app-law-firm-card [lawFirm]="featured_lawfirm"></app-law-firm-card>
  </div>

</div>
