<div class="over-container" *ngIf="displayedColumns.length>=1" #tableOverContainer>
    <table mat-table [dataSource]="countryAggeds">
      <ng-container *ngFor="let column of displayedColumns"
                    [matColumnDef]="column.columnDef">
        <th class="header-cell" mat-header-cell *matHeaderCellDef #matTableCell>
          <h3>{{column.header}}</h3>
        </th>
        <div *ngIf="column.header !== 'Country'; else country">
          <td mat-cell *matCellDef="let row">
            {{row.row_data[column.cell] | currency }}
          </td>
        </div>
        <ng-template #country>
          <td mat-cell *matCellDef="let row">
              <div *ngIf="row.country">
                {{row.country.country}}
              </div>
            </td>
          </ng-template>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
    </table>
</div>
<div *ngIf="remainColumns.length>1 && this.countryAggeds.length > 0" >
<app-fam-est-detail-table
  [displayedColumns]="remainColumns"
  [countryAggeds]="countryAggeds"
  ></app-fam-est-detail-table>
</div>
