.over-container{
  overflow: auto;
  margin-bottom: 10px;
}

.header-cell{
  min-width: 84px;
  padding-left: 12px;
  padding-right: 12px;
}
th.mat-header-cell:last-of-type{
  padding-left: 0px;
}
th.mat-header-cell:first-of-type{
  padding-right: 0px;
}

.mat-cell{
  //min-width: 84px;
}
