<div>
    <div fxLayout="column" fxLayoutAlign="center none">
        <a mat-button
           routerLink="/home">
          <p class="mat-h3">Home</p>
            </a>
        <a mat-button
           routerLink="/estimations">
          <p class="mat-h3">Estimations</p>
            </a>
        <a mat-button
           routerLink="/fam-est-form">
          <p class="mat-h3">New Estimation</p>
            </a>
        <a mat-button
         routerLink="/account/buy-new-estimate">
          <p class="mat-h3">Buy More Estimates</p></a>
    </div>
</div>
