<div>
  <div fxLayoutAlign="center none" fxLayout="column">

    <a mat-button
       routerLink="/home"
       (click)="closeMenu()">
      <p class="mat-h3">Home</p>
    </a>
    <a mat-button
       routerLink="/articles"
       (click)="closeMenu()">
      <p class="mat-h3">Articles</p>
    </a>
    <a mat-button
       routerLink="/law-firms"
       (click)="closeMenu()">
      <p class="mat-h3">Law-Firms</p>
    </a>
    <a mat-button
       routerLink="/estimate"
       (click)="closeMenu()">
      <p class="mat-h3">Simple Estimates</p>
    </a>
    <a mat-button
       routerLink="/fam-est-form"
       (click)="closeMenu()">
      <p class="mat-h3">New Estimate</p>
    </a>
    <a mat-button
       routerLink="/estimations"
       (click)="closeMenu()">
      <p class="mat-h3">Estimates</p>
    </a>
    <a *ngIf="isStaff"
       mat-button
       routerLink="/admin/main"
       (click)="closeMenu()">
      <p class="mat-h3">Admin-Main</p></a>
    <a *ngIf="isStaff"
       mat-button
       routerLink="/trans-est/trans-form"
       (click)="closeMenu()">
      <p class="mat-h3">Trans Form</p></a>
    <a *ngIf="isStaff"
       mat-button
       routerLink="/trans-est/est-form"
       (click)="closeMenu()">
      <p class="mat-h3">Est Form</p></a>
    <a *ngIf="isStaff"
       mat-button
       routerLink="/trans-est/detailed-fee-category-form"
       (click)="closeMenu()">
      <p class="mat-h3">Detailed Fee Form</p></a>
    <a *ngIf="isStaff"
       mat-button
       routerLink="/law-firm-form"
       (click)="closeMenu()">
      <p class="mat-h3">Law-Firm-Form</p></a>
    <a *ngIf="isStaff"
       mat-button
       routerLink="/articles-full"
       (click)="closeMenu()">
      <p class="mat-h3">Articles Full</p></a>
  </div>
</div>
