<div>
  <div fxLayoutAlign="center none" fxLayout="column">
    <a mat-button
       routerLink="/home"
       (click)="closeMenu()">
      <p class="mat-h3">Home</p>
    </a>
    <a mat-button
       routerLink="/estimations"
       (click)="closeMenu()">
      <p class="mat-h3">Estimations</p>
    </a>
    <a mat-button
       routerLink="/fam-est-form"
       (click)="closeMenu()">
      <p class="mat-h3">New Estimation</p>
    </a>

    <a *ngIf="isStaff"
       mat-button
       routerLink="/admin/main"
       (click)="closeMenu()">
      <p class="mat-h3">Admin-Main</p></a>
    <a *ngIf="isStaff"
       mat-button
       routerLink="/trans-est/trans-form"
       (click)="closeMenu()">
      <p class="mat-h3">Trans Form</p></a>
    <a *ngIf="isStaff"
       mat-button
       routerLink="/trans-est/est-form"
       (click)="closeMenu()">
      <p class="mat-h3">Est Form</p></a>
    <a *ngIf="isStaff"
       mat-button
       routerLink="/trans-est/detailed-fee-category-form"
       (click)="closeMenu()">
      <p class="mat-h3">Detailed Fee Form</p></a>
  </div>
</div>
