<table mat-table [dataSource]="tableData">
  <ng-container matColumnDef="id">
    <th mat-header-cell class="header-cell" *matHeaderCellDef><h3>ID</h3></th>
    <td mat-cell class="mat-cell" *matCellDef="let element">
      {{element.id}}</td>
  </ng-container>
  <ng-container matColumnDef="appl_type">
    <th mat-header-cell class="header-cell" *matHeaderCellDef><h3>ApplType</h3></th>
    <td mat-cell *matCellDef="let element">

      <div *ngIf="editingRow===element.id; else applType">
        <div [formGroup]="form">
          <mat-form-field appearance="outline" color="primary">
            <mat-label>ApplType</mat-label>
            <mat-select class="custom-select"
                        formControlName="appl_type">
              <mat-option *ngFor="let t of applTypesCorrect"
                          [value]="t.id">
                {{t.application_type}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <ng-template #applType>
        {{element.appl_type.application_type}}
      </ng-template>
    </td>
  </ng-container>
    <ng-container matColumnDef="date_diff">
        <th mat-header-cell  class="header-cell" *matHeaderCellDef><h3>Date Diff</h3></th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="editingRow===element.id; else datediff">
            <div [formGroup]="form">
              <mat-form-field appearance="outline" color="primary">
                <mat-label>Date Diff</mat-label>
                <input matInput type="text"
                       formControlName="date_diff">
              </mat-form-field>


            </div>
          </div>
          <ng-template #datediff>
            {{element.date_diff}}
          </ng-template>
        </td>
    </ng-container>

  <ng-container matColumnDef="trans_complex_time_condition">
    <th mat-header-cell class="header-cell" *matHeaderCellDef>
      <h3>Complex Time Conditions</h3></th>
    <td mat-cell *matCellDef="let element">

      <div *ngIf="editingRow===element.id; else transCompTimes">
        <div [formGroup]="form">
          <mat-form-field appearance="outline" color="primary">
            <mat-label>Complex Time Conditions</mat-label>
            <mat-select class="custom-select"
                        formControlName="trans_complex_time_condition">
              <mat-option *ngFor="let t of transComplexTimes"
                          [value]="t.id+''">
                {{t.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <button mat-button (click)="submit()">
          <mat-icon>done</mat-icon>
        </button>
        <button mat-button (click)="cancel()">
          <mat-icon>close</mat-icon>
        </button>
        <button mat-button (click)="delete(element)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </div>
      <ng-template #transCompTimes>
        <div
          *ngIf="element.trans_complex_time_condition !== undefined && element.trans_complex_time_condition !== null">
          {{element.trans_complex_time_condition.name}}
        </div>
      </ng-template>

    </td>

  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (dblclick)="editRow(row)"
    *matRowDef="let row; columns: displayedColumns;">
    </tr>
</table>
<button (click)="newRow()">new row</button>
