<table mat-table [dataSource]="tableData">
    <ng-container matColumnDef="id">
        <th mat-header-cell class="header-cell" *matHeaderCellDef><h3>ID</h3></th>
        <td mat-cell class="mat-cell" *matCellDef="let element">
        {{element.id}}</td>
    </ng-container>

    <ng-container matColumnDef="date_diff">
        <th mat-header-cell  class="header-cell" *matHeaderCellDef><h3>Date Diff</h3></th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="editingRow===element.id; else datediff">
            <div [formGroup]="form">
              <mat-form-field appearance="outline" color="accent">
                <mat-label>Date Diff</mat-label>
                <input matInput type="text"
                       formControlName="date_diff">
              </mat-form-field>
              <button mat-button (click)="submit()">
                <mat-icon>done</mat-icon>
              </button>
              <button mat-button (click)="cancel()">
                <mat-icon>close</mat-icon>
              </button>
              <button mat-button (click)="delete(element)">
                <mat-icon>delete_outline</mat-icon>
              </button>

            </div>
        </div>
        <ng-template #datediff>
        {{element.date_diff}}
                </ng-template>
        </td>
    </ng-container>

  <ng-container matColumnDef="complex_time_conditions">
    <th mat-header-cell  class="header-cell" *matHeaderCellDef>
      <h3>Complex Time Conditions</h3></th>
    <td mat-cell *matCellDef="let element">

      <div *ngIf="editingRow===element.id; else transCompTimes">
        <div [formGroup]="form">
          <mat-form-field appearance="outline" color="accent">
            <mat-label>Complex Time Conditions</mat-label>
            <mat-select class="custom-select"
                        formControlName="complex_time_conditions">
              <mat-option *ngFor="let t of transComplexTimes"
                          [value]="t.id+''">
                {{t.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <ng-template #transCompTimes>
        <div *ngIf="element.complex_time_conditions !== undefined && element.complex_time_conditions !== null">
          {{element.complex_time_conditions.name}}
        </div>
      </ng-template>
    </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (dblclick)="editRow(row)"
    *matRowDef="let row; columns: displayedColumns;">
    </tr>
</table>
<button (click)="newRow()">new row</button>
