<div class="light-accent-background over-page">
  <div class="page-title dark-accent-text">
    <p class="mat-display-3">Forecast Patent Costs</p>
    <p class="mat-display-1">EstPat Patent Cost Estimator <b>(100% Free)</b></p>
  </div>
  <div class="centerAlign light-accent-background">
    <div class="desc-box-wrapper">
      <div class="desc-box">
        <div class="icon-background">
          <mat-icon class="icon-large">dynamic_forms</mat-icon>
        </div>
        <h1>Full Feature Forms</h1>
        <p>Input variables including number of claims, pages etc. </p>
        <p>Select Countries to file and optional international filing methods,
          including PCT and EPO </p>
      </div>
      <div class="desc-box container-light">
        <div class="icon-background">
          <mat-icon class="icon-large">poll</mat-icon>
        </div>
        <h1>Charts and Reports</h1>
        <p>Annualized cost estimates provide clear cost projections.</p>
        <p>Visualize costs with charts online or download and save full pdf and excel reports, making for easy
          analysis.</p>
      </div>
    </div>

    <div class="desc-box-wrapper">
      <div class="desc-box light-accent-background">
        <div class="icon-background theme-primary">
          <mat-icon class="icon-large">language</mat-icon>
        </div>
        <p class="mat-h1">Patent Jurisdictions</p>
        <ul>
          <li>China</li>
          <li>USA</li>
          <li>South Korea</li>
          <li>Japan</li>
          <li>EPO</li>
          <li>Germany</li>
          <li>Great Britain</li>
          <li>France</li>
          <li> + more</li>
        </ul>
      </div>
      <div class="desc-box container-light">
        <div class="icon-background">
          <mat-icon class="icon-large">calculate
          </mat-icon>
        </div>
        <h1>Official Fees Calculator</h1>
        <p>Calculates Official Fees from patent offices on annual basis</p>
      </div>
    </div>
  </div>
</div>
