<div class="light-accent-background over-page">
  <div class="page-title light-accent-background-two">
  <p class="mat-display-3">Forecast Patent Costs</p>
  <p class="mat-display-1">EstPat Patent Cost Estimator</p>
  </div>
<div class="centerAlign light-accent-background">
  <div class="desc-box-wrapper">
  <div class="desc-box">
    <div class="icon-background">
      <mat-icon class="icon-large">dynamic_forms</mat-icon>
    </div>
    <h1>Full Feature Forms</h1>
    <p>Input variables including number of claims, pages etc. </p>
    <p>Select Countries to file and optional international filing methods,
      including PCT and EPO </p>
  </div>
  <div class="desc-box desc-box-offcolor">
    <div class="icon-background">
      <mat-icon class="icon-large">poll</mat-icon>
    </div>
    <h1>Charts and More</h1>
    <p>Annual costs estimates provide clear cost projections</p>
    <p>Visualize costs with annual charts accessible anytime on our servers
    or download data into excel for easy analysis</p>
  </div>
    </div>

  <div class="desc-box-wrapper">
  <div class="desc-box light-accent-background">
    <div class="icon-background theme-primary">
      <mat-icon class="icon-large">language</mat-icon>
    </div>
    <p class="mat-h1">Patent Jurisdictions</p>
    <ul>
      <li>China</li>
      <li>USA</li>
      <li>South Korea</li>
      <li>Japan</li>
      <li>EPO</li>
      <li>Germany</li>
      <li>Great Britain</li>
      <li>France</li>
    </ul>
  </div>
  <div class="desc-box desc-box-offcolor">
    <div class="icon-background">
      <mat-icon class="icon-large">calculate
      </mat-icon>
    </div>
    <h1>Official Fees Calculator</h1>
    <p>Calculates Official Fees from patent offices on annual basis</p>
  </div>
    </div>
</div>
<!--  <div class="coming_soon_container">-->
<!--<h2>Features Coming Soon... </h2>-->
<!--  <p>Estimated Law Firm Fees</p>-->
<!--  <p>Estimated Translation Fees</p>-->
<!--  <p>More Jurisdictions</p>-->
<!--    </div>-->
  <div class="button-super-over">
  <div class="button-overcontainer">
    <a mat-flat-button color="accent" routerLink="/account/signup">
      <p class="mat-h2">Register Now!</p>
    </a>
  </div>
    </div>
</div>
