<div class="super-over">
<div class="over-policy">
<p class="mat-display-1">Privacy Policy</p>

<h3>Definitions:</h3>
<p>USER is defined as the user of the website.
COMPANY is defined as EstPat L.L.C located at 5900 Balcones Drive Suite 10 Austin TX 78731 having a website at www.estpat.com.
  SERVICE is defined as the estimation solution provided to the USER by the COMPANY.</p>

<h3>Information collected and stored:</h3>
<p>
Information USER entered onto any form as part of the SERVICE and other USER data including but not limited to IP addresses
</p>

<h3>Information optionally stored at third party:</h3>
<p>COMPANY may share USER data with 3rd party businesses, contractors that work with the COMPANY for the purpose of performing business operations or improving thereof.
These companies may retain USER information subject to reasonable need, for example a payment processing company.
COMPANY will comply with justified legal requests for information from authorities as required or reasonably requested.
</p>
<h3>Information NOT shared with 3rd parties:</h3>
<p>COMPANY does not sell or disclose de-aggregated data without explicit permission except as outlined above.
</p>
<h3>Information used by COMPANY:</h3>
<p>
COMPANY may utilize USER information to improve services and marketing to USER and similar.
COMPANY may utilize anonymized USER information for research, marketing or to improve the product.
</p>
<p>
COMPANY reserves the right to update the privacy policy at any time and for any reason.
</p>
</div>
</div>
