<div fxLayout="column" fxLayoutAlign="start center">
  <p class="mat-display-1" style="margin-bottom: 20px;margin-top: 20px;">New Estimation</p>
<div class="formContainer">
<!--<h2>Estimation Form</h2>-->
  <div class="header-spacer"></div>
<mat-vertical-stepper #stepper linear>
    <mat-step [stepControl]="familyForm" [editable]="isEditable">
        <form [formGroup]="familyForm" fxLayout="column">
            <ng-template matStepLabel>Family Details</ng-template>
            <div fxLayout="column" fxLayoutAlign="center center">
                <div class="form-row">
                    <h2>Details on Patent Family:</h2>
                </div>
            <div class="form-row" fxLayout.gt-sm="row" fxLayout.lt-sm="column">
                <mat-form-field color="accent" appearance="outline">
                    <mat-label>Family Name:</mat-label>
                    <input matInput type="text" formControlName="family_name">
                </mat-form-field>
                <mat-form-field color="accent" appearance="outline">
                    <mat-label>Family Number:</mat-label>
                    <input matInput type="text" formControlName="family_no">
                </mat-form-field>
            </div>
                <mat-divider></mat-divider>
            <div class="form-row">
                <h3>Entity Size:</h3>
            </div>
            <div class="form-row" fxLayout.gt-sm="row" fxLayout.lt-sm="column">
                <mat-form-field color="accent" appearance="outline">
                    <mat-label>Entity Size:</mat-label>
                    <mat-select class="custom-select"
                                formControlName="entity_size">
                        <mat-option *ngFor="let t of entitySizes"
                                    [value]="t.id+''"
                        [matTooltip]=t.description
                        matTooltipPosition="right">
                            {{t.entity_size}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <button mat-flat-button color="accent" matStepperNext>Next</button>
            </div>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="firstApplForm" [editable]="isEditable">
        <form [formGroup]="firstApplForm">
            <ng-template matStepLabel>First Application</ng-template>

            <div fxLayout="column" fxLayoutAlign="center center">
            <div class="form-row">
                <h2>First Application:</h2>
            </div>
            <div class="form-row" fxLayout.gt-sm="row" fxLayout.lt-sm="column">
            <mat-form-field appearance="outline">
            <mat-label>Country</mat-label>
            <mat-select class="custom-select"
                        formControlName="country">
                <mat-option *ngFor="let t of countries"
                            [value]="t.id+''">
                    {{t.long_name}}
                </mat-option>
            </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" color="accent">
                <mat-label>Filing Date</mat-label>
                <input matInput [matDatepicker]="datepicker"
                       formControlName="date_filing">
                <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" color="accent">
            <mat-label>Application Type</mat-label>
                <mat-select class="custom-select"
                            formControlName="application_type"
                >
                  <mat-option *ngFor="let t of applTypesCorrect"
                              [value]="t.id+''">
                    {{t.long_name}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            </div>

                <mat-divider></mat-divider>
            <div class="form-row">
                <h3>Details of the First Application:</h3>
            </div>
            <div class="form-row" fxLayout.gt-sm="row" fxLayout.lt-sm="column" >
                <mat-form-field appearance="outline" color="accent">
                    <mat-label>No. Claims:</mat-label>
                    <input matInput type="text" formControlName="num_claims">
                </mat-form-field>
                <mat-form-field appearance="outline" color="accent">
                    <mat-label>No. Independent Claims:</mat-label>
                    <input matInput type="text" formControlName="num_indep_claims">
                </mat-form-field>
                <mat-form-field appearance="outline" color="accent">
                    <mat-label>No Drawings:</mat-label>
                    <input matInput type="text" formControlName="num_drawings">
                </mat-form-field>
              </div>
              <div class="form-row" fxLayout.gt-sm="row" fxLayout.lt-sm="column">
                <mat-form-field appearance="outline" color="accent">
                    <mat-label>No. Pages - Specification: </mat-label>
                    <input matInput type="text" formControlName="num_pages_desc">
                </mat-form-field>
                <mat-form-field appearance="outline" color="accent">
                  <mat-label>No. Pages - Claims:</mat-label>
                  <input matInput type="text" formControlName="num_pages_claims">
                </mat-form-field>
                <mat-form-field appearance="outline" color="accent">
                  <mat-label>No. Pages - Drawings:</mat-label>
                  <input matInput type="text" formControlName="num_pages_drawings">
                </mat-form-field>
              </div>

              <mat-divider></mat-divider>
              <div class="form-row">
                <h3>International Filing Methods:</h3>
              </div>
              <div fxLayout="row">
                <div class="form-row">
                  <mat-checkbox formControlName="ep_method">
                    File through EP
                  </mat-checkbox>
                </div>
                <div class="form-row">
                  <mat-checkbox formControlName="pct_method">
                    File through PCT
                  </mat-checkbox>
                </div>
              </div>


              <div class="form-row">
                <div class="button-container">
                  <button mat-flat-button color="primary" style="margin: 5px;"
                          matStepperPrevious>Back
                  </button>
                  <button mat-flat-button color="accent" style="margin: 5px;"
                          matStepperNext>Next
                  </button>
                </div>
                <div *ngIf="firstApplForm.errors?.InvalidApplType
              && (firstApplForm.touched || firstApplForm.dirty)">
                  <p style="color:red;">Application Type is invalid for Country</p>
                </div>
              </div>
            </div>

        </form>
    </mat-step>
  <mat-step *ngIf="firstApplForm.controls.pct_method.value"
            [formGroup]="internationalStageForm" [stepControl]="internationalStageForm">
    <form [formGroup]="internationalStageForm" fxLayout="column" fxLayoutAlign="center center">
      <ng-template matStepLabel>PCT Stage (optional)</ng-template>
      <div fxLayout="column" fxLayoutAlign="center center">
        <div class="form-row">
          <h2>File Through PCT (optional):</h2>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center"
             class="form-row">
          <mat-divider></mat-divider>
          <h3>PCT Examining Country</h3>
          <mat-form-field appearance="outline" color="accent">
            <mat-label>
              PCT Receiving Office
            </mat-label>
            <mat-select class="custom-select"
                        formControlName="pct_country">
              <mat-option *ngFor="let t of pct_countries"
                          [value]="t.id+''">
                {{t.long_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" color="accent">
            <mat-label>
              PCT International Search Authority (ISA)
            </mat-label>
            <mat-select class="custom-select"
                        formControlName="isa_country">
              <mat-option *ngFor="let t of isa_countries"
                          [value]="t.id+''">
                {{t.long_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <ng-template matStepLabel>PCT National Phase</ng-template>
        <div fxLayout="column" fxLayoutAlign="center center">
          <div class="form-row">
            <h2>Select Jurisdictions to File</h2>
          </div>
          <div class="form-row" fxLayout="row" fxLayoutAlign="space-between" fxShow fxHide.lt-sm>
            <div fxLayout="column" fxLayoutAlign="start start">
              <div *ngFor="let country of pct_countries; let i=index">
                <mat-checkbox *ngIf="country.col===1"
                              [formControl]="getCountriesFormCtrlNamePCT(country.id)"
                              (change)="onPCTCheckboxChange($event, country.id)">
                  {{country.long_name}}
                </mat-checkbox>
              </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="start start">
              <div *ngFor="let country of pct_countries; let i=index">
                <mat-checkbox *ngIf="country.col===2"
                              [formControl]="getCountriesFormCtrlNamePCT(country.id)"
                              (change)="onPCTCheckboxChange($event, country.id)">
                  <p>{{country.long_name}}</p>
                </mat-checkbox>
              </div>
            </div>
          </div>

          <div class="form-row" fxLayout="row" fxLayoutAlign="space-between" fxHide fxShow.lt-sm>
            <div fxLayout="column" fxLayoutAlign="start start">
              <div *ngFor="let country of pct_countries; let i=index">
                <mat-checkbox
                  [formControl]="getCountriesFormCtrlNamePCT(country.id)"
                  (change)="onPCTCheckboxChange($event, country.id)">
                  {{country.long_name}}
                </mat-checkbox>
              </div>
            </div>
          </div>


          <div class="form-row">
            <div>
              <button mat-flat-button color="primary" style="margin: 5px;"
                      matStepperPrevious>Back
              </button>
              <button mat-flat-button color="accent" style="margin: 5px;"
                      matStepperNext>Next
              </button>
            </div>
          </div>

        </div>
      </div>
    </form>
  </mat-step>

  <mat-step *ngIf="firstApplForm.controls.ep_method.value"
            [formGroup]="epStageForm" [stepControl]="epStageForm">
    <form [formGroup]="epStageForm" fxLayout="column" fxLayoutAlign="center center">
      <ng-template matStepLabel>EP Stage</ng-template>
      <div fxLayout="column" fxLayoutAlign="center center">


        <ng-template matStepLabel>EPO Validation Phase</ng-template>
        <div fxLayout="column" fxLayoutAlign="center center">
          <div class="form-row">
            <h2>Select Jurisdictions to File</h2>
          </div>
          <div class="form-row" fxLayout="row" fxLayoutAlign="space-between" fxShow fxHide.lt-sm>
            <div fxLayout="column" fxLayoutAlign="start start">
              <div *ngFor="let country of ep_countries; let i=index">
                <mat-checkbox *ngIf="country.col===1"
                              [formControl]="getCountriesFormCtrlNameEP(country.id)"
                              (change)="onEPCheckboxChange($event, country.id)">
                  {{country.long_name}}
                </mat-checkbox>
              </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="start start">
              <div *ngFor="let country of ep_countries; let i=index">
                <mat-checkbox *ngIf="country.col===2"
                              [formControl]="getCountriesFormCtrlNameEP(country.id)"
                              (change)="onEPCheckboxChange($event, country.id)">
                  <p>{{country.long_name}}</p>
                </mat-checkbox>
              </div>
            </div>
          </div>
          <div class="form-row" fxLayout="row" fxLayoutAlign="space-between" fxHide fxShow.lt-sm>
            <div fxLayout="column" fxLayoutAlign="start start">
              <div *ngFor="let country of ep_countries; let i=index">
                <mat-checkbox
                  [formControl]="getCountriesFormCtrlNameEP(country.id)"
                  (change)="onEPCheckboxChange($event, country.id)">
                  {{country.long_name}}
                </mat-checkbox>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div>
              <button mat-flat-button color="primary" style="margin: 5px;"
                      matStepperPrevious>Back
              </button>
              <button mat-flat-button color="accent" style="margin: 5px;"
                      matStepperNext>Next
              </button>
            </div>
          </div>

        </div>
      </div>
    </form>
  </mat-step>


  <mat-step [formGroup]="parisStageForm">
    <form [formGroup]="parisStageForm">
      <ng-template matStepLabel>Paris International Filing Phase</ng-template>
      <div fxLayout="column" fxLayoutAlign="center center">
        <div class="form-row">
          <h2>Select Jurisdictions to File</h2>
        </div>
        <div class="form-row" fxLayout="row" fxLayoutAlign="space-between" fxShow fxHide.lt-sm>
          <div fxLayout="column" fxLayoutAlign="start start">
            <div *ngFor="let country of countries; let i=index">
              <mat-checkbox *ngIf="country.col===1"
                            [formControl]="getCountriesFormCtrlNameParis(country.id)"
                            (change)="onParisCheckboxChange($event, country.id)">
                {{country.long_name}}
              </mat-checkbox>
                  </div>
                </div>
                <div fxLayout="column" fxLayoutAlign="start start">
                  <div *ngFor="let country of countries; let i=index">
                    <mat-checkbox *ngIf="country.col===2"
                                  [formControl]="getCountriesFormCtrlNameParis(country.id)"
                                  (change)="onParisCheckboxChange($event, country.id)">
                      <p>{{country.long_name}}</p>
                    </mat-checkbox>
                  </div>
                </div>
              </div>

              <div class="form-row" fxLayout="row" fxLayoutAlign="space-between" fxHide fxShow.lt-sm>
                <div fxLayout="column" fxLayoutAlign="start start">
                  <div *ngFor="let country of countries; let i=index">
                    <mat-checkbox
                      [formControl]="getCountriesFormCtrlNameParis(country.id)"
                      (change)="onParisCheckboxChange($event, country.id)">
                      {{country.long_name}}
                    </mat-checkbox>
                  </div>
                  </div>
                </div>

            <div class="form-row">
                <button mat-flat-button color="warn"  style="margin: 5px;"
                        (click)="stepper.reset()"
                        (click)="formReset()">Reset</button>
                <button mat-flat-button color="primary" style="margin: 5px;"
                        matStepperPrevious>Back</button>
              <button mat-flat-button color="accent" type="submit"
                      style="margin: 5px;"
                      (click)="onSubmit()"
                      [disabled]="!parisStageForm.valid">
                Submit
              </button>
            </div>
            </div>
        </form>
    </mat-step>
</mat-vertical-stepper>
</div>
</div>
