<div class="container">
  <app-header>
  </app-header>
  <div class="over-main" fxLayout="row" fxLayoutAlign="space-between"
  >
    <app-nav *ngIf="isLoggedIn" fxShow fxHide.xs="true">
    </app-nav>
    <app-main *ngIf="isLoggedIn; else fullSizeMain" class="logged-in-over-main">
    </app-main>
    <ng-template #fullSizeMain>
      <app-main class="fullSize"></app-main>
    </ng-template>

    <app-aside *ngIf="isLoggedIn" fxShow fxHide.lt-md="true">
    </app-aside>
  </div>
    <app-footer>
    </app-footer>
</div>
