<div fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center">
    <table mat-table class="mat-elevation-z1"
           [dataSource]="dataSource" multiTemplateDataRows>
      <ng-container matColumnDef="family_no">
        <th mat-header-cell class="header-cell" *matHeaderCellDef><h3>Family No.</h3></th>
        <td mat-cell *matCellDef="let element">{{element.family_no}}</td>
      </ng-container>
      <ng-container matColumnDef="family_name">
        <th mat-header-cell class="header-cell" *matHeaderCellDef><h3>Family Name</h3></th>
        <td mat-cell *matCellDef="let element">{{element.family_name}}</td>
      </ng-container>
      <ng-container matColumnDef="law_firm_cost">
        <th mat-header-cell class="header-cell" *matHeaderCellDef><h3>Law Firm Cost</h3></th>
        <td mat-cell *matCellDef="let element">${{element.law_firm_cost | currency: 'USD'}}</td>
      </ng-container>
      <ng-container matColumnDef="official_cost">
        <th mat-header-cell class="header-cell" *matHeaderCellDef><h3>Official Cost</h3></th>
        <td mat-cell *matCellDef="let element">{{element.official_cost | currency: 'USD'}}</td>
      </ng-container>
      <ng-container matColumnDef="total_cost">
        <th mat-header-cell class="header-cell" *matHeaderCellDef><h3>Total Cost</h3></th>
        <td mat-cell *matCellDef="let element">{{element.total_cost | currency: 'USD'}}</td>
      </ng-container>
      <ng-container matColumnDef="num_patents">
        <th mat-header-cell class="header-cell" *matHeaderCellDef><h3>Number of Patents</h3></th>
        <td mat-cell *matCellDef="let element">{{element.num_appls}}</td>
      </ng-container>
      <ng-container matColumnDef="date_created">
        <th mat-header-cell class="header-cell" *matHeaderCellDef><h3>Date Created</h3></th>
        <td mat-cell *matCellDef="let element">{{element.date_created | date }}</td>
      </ng-container>
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="element-detail"
               [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'">
            <div class="element-description">
              <a mat-flat-button
                 (click)="seeDetails(element)"
                 color="accent">
                See Details</a>
            </div>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;"
                class="element-row"
                [class.expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element"></tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
        </table>
    <mat-paginator
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
    </div>
</div>
