<div class="super-over">
  <div class="over-policy">
    <p class="mat-display-1">Terms of Use</p>

    <p>USER is defined as the user of the website and will confirm agreement with the TERMS OF USE by clicking the checkbox expressing the consent to comply with it.
    COMPANY is defined as EstPat L.L.C located at 5900 Balcones Drive Suite 10 Austin TX 78731 having a website at www.estpat.com
      where COMPANY is in the business of estimating costs of patents, and USER is interested in utilizing services provided by COMPANY.
    SERVICE is defined as the estimation solution provided to the USER by the COMPANY.
    </p>
    <p>COMPANY will adhere to the
      <a routerLink="/account/privacy-policy">Privacy Policy</a></p>
    <p>USER is responsible for securely storing personal data such as passwords.  Failure to properly store passwords
      resulting in a security breach remain the responsibility of USER.  COMPANY will take reasonable steps to secure USER accounts using standard security practices.</p>

    <p>Total patent costs vary according to the specifics of the technology, patent examiner, representing patent attorney and goals of the operating business.  As such, these estimates are to be understood as estimates and explicitly do not represent quotes.</p>

    <p>The USER agrees not to use computing resources in an unreasonable or otherwise inappropriate manner. COMPANY may suspend USER’s account for any reason including abusing computing power resources or using said resources improperly.  To preserve bandwidth or computing resources, COMPANY reserves the right to suspend service to USER.</p>

    <p>COMPANY reserves to the right to modify this agreement at any time.  USER is responsible for terminating agreement with the TERMS OF USE and to cease use of the services.</p>

    <p>USER will not utilize SERVICE inappropriately.
      SERVICE is sold AS IS. USER is responsible for properly interpreting data.  COMPANY is not responsible for USER decisions or the consequences of USER actions during or after use of SERVICE.</p>
  </div>
</div>
