<h2>Account</h2>
<div>
    <app-account-details-form [userProfile]="userProfile"
                              (formData)="onSubmit($event)">
    </app-account-details-form>
    <div class="container" fxLayout="column" fxLayoutAlign="none">
        <div>
          <p>username: {{userDetail.username}}</p>
          <p>email: {{userDetail.email}}</p>
          <div class="container" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="7px">
            <button mat-raised-button color="accent"
                    (click)="disabled()"
                    [disabled]="isDisabled"
                    [routerLink]="['/account/', {outlets: {resetusername: ['username-form']}}]">
              Change Username
            </button>
            <button mat-raised-button color="accent"
                    (click)="disabled()"
                    [disabled]="isDisabled"
                    [routerLink]="[{outlets: {resetpassword: ['password-form']}}]">
              Change Password
            </button>
            </div>
        </div>
        <router-outlet name="resetusername"
                       (deactivate)="onDeactivate($event)"
        ></router-outlet>
        <router-outlet name="resetpassword"
                       (deactivate)="onDeactivate($event)"
        ></router-outlet>
    </div>
  <div class="estimates-container">
    <p class="mat-h3">  Remaining Estimates: {{userProfile.estimates_remaining}}</p>
    <a mat-flat-button color="primary"
       routerLink="/account/buy-new-estimate"
    >Buy More Estimates</a>
  </div>
</div>
