<h2>Account</h2>
<div gdcolumns="repeat(auto-fill, minmax(350px, 1fr))" gdgap="10px"
     style="display: grid; grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); gap: 15px;"
>

    <app-account-details-form [userProfile]="userProfile"
                              (formData)="onSubmit($event)">
    </app-account-details-form>
    <div class="container" fxLayout="column" fxLayoutAlign="none">
        <div>
          <div class="container" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="7px">
            <button mat-raised-button color="accent"
                    (click)="disabled()"
                    [disabled]="isDisabled"
                    [routerLink]="['/account', {outlets: {resetusername: ['username-form']}}]">
              Change Username
            </button>
            <button mat-raised-button color="accent"
                    (click)="disabled()"
                    [disabled]="isDisabled"
                    [routerLink]="['/account',
                                             {outlets: {resetpassword: ['password-form']}}]">
                Change Password
            </button>
            </div>
        </div>
        <router-outlet name="resetusername"
                       (deactivate)="onDeactivate($event)"
        ></router-outlet>
        <router-outlet name="resetpassword"
                       (deactivate)="onDeactivate($event)"
        ></router-outlet>
    </div>
</div>
