<button mat-raised-button color="accent" (click)="editFormButton()">Edit Account Information</button>
<form [formGroup]="acctForm" fxLayout="column" style="padding: 20px;">
    <ng-template matStepLabel>Family Details</ng-template>
    <div fxLayout="column" fxLayoutAlign="center center">
        <div class="form-row" fxLayout="row">
            <mat-form-field color="accent" appearance="outline">
                <mat-label>Company Name:</mat-label>
                <input matInput type="text" formControlName="company_name">
            </mat-form-field>
        </div>
        <div class="form-row" fxLayout="row">
            <mat-form-field color="accent" appearance="outline">
                <mat-label>Address:</mat-label>
                <input matInput type="text" formControlName="address">
            </mat-form-field>
        <mat-form-field color="accent" appearance="outline">
            <mat-label>City:</mat-label>
                <input matInput type="text" formControlName="city">
        </mat-form-field>
        </div>
        <div class="form-row" fxLayout="row">
            <mat-form-field color="accent" appearance="outline">
                <mat-label>State:</mat-label>
                <input matInput type="text" formControlName="state">
            </mat-form-field>
            <mat-form-field color="accent" appearance="outline">
                <mat-label>Zip Code:</mat-label>
                <input matInput type="text" formControlName="zip_code">
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button [disabled]="buttonDisabled" color="accent" (click)="onSubmit()">Save</button>
            <button mat-button [disabled]="buttonDisabled" (click)="cancelForm()">Cancel</button>
        </div>
    </div>
</form>
