.countrySelector{
  padding: 10px;
  background-color: lightgray;
  color: red;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border-radius: 25px;
}
.over-grid{
  margin-bottom: 20px;
}
