<!--<ng-template [cdkPortalOutlet]="templatePortal"></ng-template>-->
<ng-template cdkConnectedOverlay></ng-template>
<ng-template #templatePortalContent
  >
  <div class="countrySelector">
<mat-form-field appearance="outline">
  <mat-label>Country</mat-label>
  <mat-select
              [formControl]="countryControl">
    <mat-option *ngFor="let t of countries"
                [value]="t.id">
      {{t.long_name}}
    </mat-option>
  </mat-select>
</mat-form-field>
  </div>
</ng-template>
<div class="over-grid">
<h3>Super Filing Estimate Template</h3>
<app-est-template-grid-v2
  [applTypes]="applTypes"
  [currencies_list]="currencies_list"
  [country]="country"
  [countries]="countries"
  [rowData]="filEstTemp"
  [entitySizes]="entitySizes"
  [docFormats]="docFormats"
  [complexConditions]="complexConditions"
  [complexTimeConditions]="complexTimeConditions"
  [feeCategories]="feeCategories"
  [detailedFeeCategories]="filteredDetailedFeeCategories"
  (formData)="onSubmitFilEstTemp($event)"
  (delEmit)="delFileEstTemp($event)">
</app-est-template-grid-v2>
</div>


  <div class="over-grid">
<h3>Publication Estimate Template</h3>
  <app-est-template-grid-v2
    [applTypes]="applTypes"
    [currencies_list]="currencies_list"
    [country]="country"
    [countries]="countries"
    [rowData]="publEstTemp"
    [entitySizes]="entitySizes"
    [docFormats]="docFormats"
    [complexConditions]="complexConditions"
    [complexTimeConditions]="complexTimeConditions"
    [feeCategories]="feeCategories"
    [detailedFeeCategories]="filteredDetailedFeeCategories"
    (formData)="onSubmitPublEstTemp($event)"
    (delEmit)="delPublEstTemp($event)">
  </app-est-template-grid-v2>
</div>

<div class="over-grid">
  <h3>Request Exam Template</h3>
  <app-est-template-grid-v2
    [applTypes]="applTypes"
    [currencies_list]="currencies_list"
    [country]="country"
    [countries]="countries"
    [rowData]="reqEstTemp"
    [entitySizes]="entitySizes"
    [docFormats]="docFormats"
    [complexConditions]="complexConditions"
    [complexTimeConditions]="complexTimeConditions"
    [feeCategories]="feeCategories"
    [detailedFeeCategories]="filteredDetailedFeeCategories"
    (formData)="onSubmitReqEstTemp($event)"
    (delEmit)="delReqEstTemp($event)">
  </app-est-template-grid-v2>
</div>


<div *ngIf="country_us === false" class="over-grid">
  <p>OA Estimate Template</p>
  <app-est-template-grid-v2
    [applTypes]="applTypes"
    [currencies_list]="currencies_list"
    [country]="country"
    [countries]="countries"
    [rowData]="oaEstTemp"
    [entitySizes]="entitySizes"
    [docFormats]="docFormats"
    [complexConditions]="complexConditions"
    [complexTimeConditions]="complexTimeConditions"
    [feeCategories]="feeCategories"
    [detailedFeeCategories]="filteredDetailedFeeCategories"
    (formData)="onSubmitOAEstTemp($event)"
    (delEmit)="delOAEstTemp($event)">
  </app-est-template-grid-v2>
</div>
<div *ngIf="country_us === true" class="over-grid">
  <p>US OA Estimate Template</p>
  <app-est-template-grid-us-oa
    [rowData]="usoaEstTemp"
    [applTypes]="applTypes"
    [currencies_list]="currencies_list"
    [country]="country"
    [countries]="countries"
    [entitySizes]="entitySizes"
    [docFormats]="docFormats"
    [complexConditions]="complexConditions"
    [complexTimeConditions]="complexTimeConditions"
    [feeCategories]="feeCategories"
    [detailedFeeCategories]="filteredDetailedFeeCategories"
    (formData)="onSubmitUSOAEstTemp($event)"
    (delEmit)="delUSOAEstTemp($event)">
  </app-est-template-grid-us-oa>
</div>

<div class="over-grid">
<h3>Allow Estimate Template</h3>
  <app-est-template-grid-v2
    [applTypes]="applTypes"
    [currencies_list]="currencies_list"
    [country]="country"
    [countries]="countries"
    [rowData]="allowEstTemp"
    [entitySizes]="entitySizes"
    [docFormats]="docFormats"
    [complexConditions]="complexConditions"
    [complexTimeConditions]="complexTimeConditions"
    [feeCategories]="feeCategories"
    [detailedFeeCategories]="filteredDetailedFeeCategories"
    (formData)="onSubmitAllowEstTemp($event)"
    (delEmit)="delAllowEstTemp($event)">
  </app-est-template-grid-v2>
</div>

<div class="over-grid">
<h3>Issue Estimate Template</h3>
  <app-est-template-grid-v2
    [applTypes]="applTypes"
    [currencies_list]="currencies_list"
    [country]="country"
    [countries]="countries"
    [rowData]="issueEstTemp"
    [entitySizes]="entitySizes"
    [docFormats]="docFormats"
    [complexConditions]="complexConditions"
    [complexTimeConditions]="complexTimeConditions"
    [feeCategories]="feeCategories"
    [detailedFeeCategories]="filteredDetailedFeeCategories"
    (formData)="onSubmitIssueEstTemp($event)"
    (delEmit)="delIssueEstTemp($event)">
  </app-est-template-grid-v2>
</div>
