<form [formGroup]="epStageForm" fxLayout="column" fxLayoutAlign="center center">
  <ng-template matStepLabel>EP Stage</ng-template>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="form-row">
      <h2>EPO Stage</h2>
    </div>
    <button mat-stroked-button
            *ngIf="!ep_initial_appl_type"
            [matTooltip]="customApplToolTip"
            color="primary"
            (click)="editEPCustApplDetails()">
      <mat-icon>add_circle_outline</mat-icon>
      Custom Application Details
    </button>
    <div class="form-row">
      <app-custom-appl-details
        [customApplDetails]="epStageForm.controls.ep_method_customization.value.custom_appl_details"
        [appl_type]="appl_type_ep"
        [country]="country_ep">
      </app-custom-appl-details>
      <app-custom-appl-options
        [customApplOption]="epStageForm.controls.ep_method_customization.value.custom_appl_options"
        [country]="country_ep"
        [appl_type]="appl_type_ep">
      </app-custom-appl-options>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <div class="form-row">
        <h2>Select EP Validation Jurisdictions</h2>
      </div>
      <div formArrayName="ep_countries" class="form-row" fxLayout="row" fxLayoutAlign="space-between">
        <div fxLayout="column" fxLayoutAlign="start start" fxHide.gt-xs>
          <ng-container [ngTemplateOutlet]="epValidPhaseSingleCountries"></ng-container>
        </div>
        <div fxLayout="column" fxLayoutAlign="start start" fxHide.lt-sm>
          <ng-container [ngTemplateOutlet]="epValidPhaseDoubleCountries"></ng-container>
        </div>
      </div>
    </div>
  </div>
</form>


<ng-template #epValidPhaseSingleCountries>
  <div [formGroup]="epStageForm"
       *ngFor="let item of epCountriesFormArray.controls;
              let i=index; trackBy: trackByIndex">

    <div formArrayName="ep_countries" class="form-row" fxLayout="row" fxLayoutAlign="space-between">
      <ng-container [formGroupName]="i">
        <div fxLayout="column" fxLayoutAlign="start start">
          <div>
            <mat-checkbox formControlName="selected">
              {{item.value.country.long_name}}
            </mat-checkbox>
            <button mat-icon-button [matTooltip]="customApplToolTip"
                    (click)="editEPValidCustApplDetails(item.value.country)">
              <mat-icon>add_circle_outline</mat-icon>
            </button>
          </div>
          <app-custom-appl-details
            [customApplDetails]="item.value.custom_appl_details">
          </app-custom-appl-details>
          <app-custom-appl-options
            [customApplOption]="item.value.custom_appl_options"
            [country]="item.value.country"
            [appl_type]="appl_type_utility"
          >
          </app-custom-appl-options>
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>
<ng-template #epValidPhaseDoubleCountries>
  <div [formGroup]="epStageForm" fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayout="column" fxLayoutAlign="start start" style="margin: 5px;">
      <div formArrayName="ep_countries"
           *ngFor="let item of epCountriesFormArray.controls;
              let i=index; trackBy: trackByIndex"
           class="check-row" fxLayout="row" fxLayoutAlign="space-between">
        <ng-container [formGroupName]="i">
          <div fxLayout="column" fxLayoutAlign="start start" *ngIf="item.value.column === 1">
            <div>
              <mat-checkbox formControlName="selected">
                {{item.value.country.long_name}}
              </mat-checkbox>
              <button *ngIf="item.value.country.id !== country_ep.id"
                      mat-icon-button
                      [matTooltip]="customApplToolTip"
                      (click)="editEPValidCustApplDetails(item.value.country)">
                <mat-icon>add_circle_outline</mat-icon>
              </button>
            </div>
            <div class="check-text-row">
              <app-custom-appl-details
                [customApplDetails]="item.value.custom_appl_details">
              </app-custom-appl-details>
              <app-custom-appl-options
                [customApplOption]="item.value.custom_appl_options"
                [country]="item.value.country"
                [appl_type]="appl_type_utility">
              </app-custom-appl-options>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="start start" style="margin: 5px;">
      <div formArrayName="ep_countries"
           *ngFor="let item of epCountriesFormArray.controls;
              let i=index; trackBy: trackByIndex"
           class="check-row" fxLayout="row" fxLayoutAlign="space-between">
        <ng-container [formGroupName]="i">
          <div fxLayout="column" fxLayoutAlign="start start" *ngIf="item.value.column === 2">
            <div>
              <mat-checkbox formControlName="selected">
                {{item.value.country.long_name}}
              </mat-checkbox>
              <button
                mat-icon-button
                [matTooltip]="customApplToolTip"
                (click)="editEPValidCustApplDetails(item.value.country)">
                <mat-icon>add_circle_outline</mat-icon>
              </button>
            </div>
            <div class="check-text-row">
              <app-custom-appl-details
                [customApplDetails]="item.value.custom_appl_details">
              </app-custom-appl-details>
              <app-custom-appl-options
                [customApplOption]="item.value.custom_appl_options"
                [country]="item.value.country"
                [appl_type]="appl_type_utility">
              </app-custom-appl-options>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</ng-template>

