<form [formGroup]="parisStageForm">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="form-row">
      <h2>Select Jurisdictions to File Directly from First Application</h2>
    </div>
    <div fxLayout="column" fxLayoutAlign="start start">
      <ng-container [ngTemplateOutlet]="parisPhaseCountries"></ng-container>
    </div>
  </div>
</form>
<ng-template #parisPhaseCountries>
  <div [formGroup]="parisStageForm" >
    <div formArrayName="paris_countries"
         *ngFor="let item of parisCountriesFormArray.controls;
              let i=index; trackBy: trackByIndex"
         class="form-row" fxLayout="row" fxLayoutAlign="space-between">
      <ng-container [formGroupName]="i">
        <div fxLayout="column" fxLayoutAlign="start start">
          <div>
            <mat-checkbox formControlName="selected">
              {{item.value.country.long_name}}
            </mat-checkbox>
            <button *ngIf="item.enabled"
                    mat-icon-button [matTooltip]="customApplToolTip"
                    (click)="editParisCustApplDetails(item.value.country)">
              <mat-icon>add_circle_outline</mat-icon>
            </button>
          </div>
          <app-custom-appl-details
            [customApplDetails]="item.value.custom_appl_details">
          </app-custom-appl-details>
          <app-custom-appl-options
            [customApplOption]="item.value.custom_appl_options"
            [country]="item.value.country"
            [appl_type]="appl_type_utility"
          >
          </app-custom-appl-options>
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>
