@use '@angular/material' as mat;

@import './theme.scss';
@import "~@ag-grid-community/core/dist/styles/ag-grid.scss";
@import "~@ag-grid-community/core/dist/styles/ag-theme-alpine/sass/ag-theme-alpine.scss";


html, body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%
}

mat-card-content {
  text-align: left;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ag-theme-alpine-custom {
  @include ag-theme-alpine();

  .ag-row-last {
    background-color: $light-bg-darker-10;
  }
}

.blurb-container {
  padding: 30px;
  background: map-get($theme-primary, 'lighter');
}

.right-img, .top-right, .bottom-right {
  max-width: 400px;
  max-height: 400px;
  float: right;
  margin: 10px;
}

.left-img, .top-left, .bottom-left {
  max-width: 400px;
  max-height: 400px;
  float: left;
  margin: 10px;
}

.center-img, .top, .bottom {
  max-width: 600px;
  max-height: 600px;
  margin: 10px;
}

.blurb-container-2 {
  padding: 30px;
  background: map-get($theme-primary, 'main');
  color: $light-text
}

.blurb {
  max-width: 500px;
}

app-root {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  background-color: $light-background;
}

.container {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.over-main {
  flex: 1;
}

app-footer {
  padding: 20px;
  margin: 0;
}

app-header {
  position: fixed;
  z-index: 10;
  width: 100%;
}

app-nav {
  margin-top: 50px;
  flex: 0 2 150px;
  background: map-get($theme-primary, 'lighter');
  color: #003D3D;
}

app-main {
  flex: 1 1 300px;
  min-height: 300px;
  max-width: 1050px;
  background-color: $light-background;
}

.logged-in-over-main {
  margin-top: 60px;
  padding: 20px;
}

.fullSize {
  padding-top: 60px;
  flex: 1;
}

.fullSizeLanding {
  flex: 1;
}


app-aside {
  flex: 0 2 150px;
  background-color: $light-background;
}

app-footer {
  flex: 0 0 40px;
  background: map-get($theme-primary, 'darker');
  color: $light-accent-text;
}


.check-text-row {
  color: $dark-accent-text;
}

.mat-header-cell {
  background: map-get($theme-accent, 'lighter');

  h3 {
    padding-top: 10px;
    text-align: center;
    color: $dark-primary-text;
  }
}

.light-accent-background {
  background-color: $light-background;
}

.dark-accent-text {
  color: $dark-accent-text;
}
.mat-card-mobile{
  margin:10px;
}

.standard-card {
  max-width: 600px;
  min-width: 250px;
  margin: 20px;
  mat-card-content{
    margin: 8px;
  }
  img{
    height: 200px;
    margin-left: 0px;
    width:100%;
  }
}

.input-container, .select-container, .date-picker-container, .input-container-small {
  text-align: left;
  padding: 10px;
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;

  .ng-star-inserted {
    color: $dark-accent-text;
  }

  p {
    margin-bottom: 3px;
    color: $dark-primary-text;
    font-size: 16px;
  }

  mat-form-field {
    padding-left: 0;

    width: 200px;

    .mat-form-field-infix {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  input {
    font-size: 16px;
    padding-left: 0;
    color: $dark-text;
  }
}

.form-row-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.check-row {
  color: $dark-accent-text;
}

.form-row {
  color: $dark-accent-text;
  margin-top: 10px;
  margin-bottom: 10px;
}


.formContainer {
  background-color: map-get($theme-primary, 'darker');
  color: $light-accent-text;
  max-width: 735px;

  h2 {
    margin-bottom: 0;
  }

  .header-spacer {
    height: 30px;
  }


  mat-vertical-stepper {
    .mat-step-header {
      background-color: map-get($theme-primary, 'lighter');
    }

    .mat-step {
      background-color: $light-background;
    }

    .form-row {
      color: $dark-accent-text;
      margin-top: 10px;
      margin-bottom: 10px;
    }


    .mat-step-icon {
      color: $light-text;
      background-color: map-get($theme-accent, 'darker');
    }

    .mat-step-icon-selected {
      color: $light-text;
      background-color: map-get($theme-accent, 'main');
    }

    form {
      .custom-details-list {
        color: red;
      }
    }
  }
}

.mat-list-base .mat-list-item {
  font-size: 14px;
}

.mat-list-base .mat-subheader {
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 2px;
}

.mat-select-min-line {
  color: $dark-text !important;
}

.mat-accent .mat-option.mat-selected:not(.mat-option-disabled) {
  color: $dark-text;
}

.icon-background {
  background-color: map-get($theme-primary, 'main');
}


.desc-box {
  h1 {
    color: $dark-primary-text;
  }

  p {
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
  }
}

tr.element-row:not(.expanded-row):hover {
  background-color: map-get($theme-primary, 'lighter');
}


.pricing-card {
  color: map-get($theme-primary, 'main');
  background-color: map-get($theme-primary, 'lighter');
}


@keyframes loader {
  0% {
    transform: scale(0.0);
  }
  40% {
    transform: scale(1.0);
  }
  80% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(0.0);
  }
}


#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2.7em;
  margin-left: -2.7em;
  width: 5.4em;
  height: 5.4em;
  background-color: transparent;
}

#hill {
  position: absolute;
  width: 7.1em;
  height: 7.1em;
  top: 1.7em;
  left: 1.7em;
  background-color: transparent;
  border-left: .25em solid map-get($theme-primary, 'lighter');
  transform: rotate(45deg);
}

#hill:after {
  content: '';
  position: absolute;
  width: 7.1em;
  height: 7.1em;
  left: 0;
  background-color: transparent;
}

#box {
  position: absolute;
  left: 0;
  bottom: -.1em;
  width: 1em;
  height: 1em;
  background-color: transparent;
  border: .25em solid map-get($theme-primary, 'lighter');
  border-radius: 15%;
  transform: translate(0, -1em) rotate(-45deg);
  animation: push 2.5s cubic-bezier(.79, 0, .47, .97) infinite;
}

@keyframes push {
  0% {
    transform: translate(0, -1em) rotate(-45deg);
  }
  5% {
    transform: translate(0, -1em) rotate(-50deg);
  }
  20% {
    transform: translate(1em, -2em) rotate(47deg);
  }
  25% {
    transform: translate(1em, -2em) rotate(45deg);
  }
  30% {
    transform: translate(1em, -2em) rotate(40deg);
  }
  45% {
    transform: translate(2em, -3em) rotate(137deg);
  }
  50% {
    transform: translate(2em, -3em) rotate(135deg);
  }
  55% {
    transform: translate(2em, -3em) rotate(130deg);
  }
  70% {
    transform: translate(3em, -4em) rotate(217deg);
  }
  75% {
    transform: translate(3em, -4em) rotate(220deg);
  }
  100% {
    transform: translate(0, -1em) rotate(-225deg);
  }
}

.loading-background {
  left: 0 !important;
  top: 0 !important;
  z-index: 10000 !important;
  width: 100% !important;
  height: 100% !important;
  position: fixed !important;
  background-color: rgba(0, 0, 0, 0.9) !important;
  visibility: visible !important;
  transition: visibility 0s, opacity 0.4s linear !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: wait !important;
}


.super-over {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;

  .over-policy {
    padding-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    max-width: 500px;
    text-align: justify;

    h3 {
      font-weight: bold;
      margin-bottom: 1px;
    }
  }
}

.est-form-grid {
  .ag-cell-label-container {
    /* Necessary to allow for text to grow vertically */
    height: 100%;
  }

  .ag-header-cell-label {
    /* Necessary to allow for text to grow vertically */
    height: 100%;
    padding: 0 !important;
  }

  .ag-header-cell-label .ag-header-cell-text {
    /* Force the width corresponding at how much width
    we need once the text is laid out vertically */
    width: 55px;
    writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    line-height: 2em;
    margin-top: 60px;
  }

  .ag-floating-filter-body input {
    height: 49px;
  }

  .ag-floating-filter-button {
    margin-top: -49px;
  }

  .ag-floating-filter-button button {
    height: 49px
  }

  .ag-floating-filter-body input {
    font-size: 15px;
    font-weight: bold;
  }
}
