<button mat-flat-button color="primary" (click)="toggleForm()"
        style="margin-bottom: 10px;"
>Toggle CountryForm
</button>

<form [formGroup]="form">
  <mat-form-field color="accent" appearance="outline">
    <mat-label>Country:</mat-label>
    <input matInput type="text" formControlName="country">
  </mat-form-field>
  <mat-form-field color="accent" appearance="outline">
    <mat-label>Long Name:</mat-label>
    <input matInput type="text" formControlName="long_name">
  </mat-form-field>
  <mat-form-field color="accent" appearance="outline">
    <mat-label>ep bool:</mat-label>
    <mat-select class="custom-select"
                formControlName="ep_bool">
      <mat-option [value]=true>True</mat-option>
      <mat-option [value]=false>False</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field color="accent" appearance="outline">
    <mat-label>PCT RO Bool:</mat-label>
    <mat-select class="custom-select"
                formControlName="pct_ro_bool">
      <mat-option [value]=true>True</mat-option>
      <mat-option [value]=false>False</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field color="accent" appearance="outline">
    <mat-label>PCT Accept Bool:</mat-label>
    <mat-select class="custom-select"
                formControlName="pct_accept_bool">
      <mat-option [value]=true>True</mat-option>
      <mat-option [value]=false>False</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field color="accent" appearance="outline">
    <mat-label>active bool:</mat-label>
    <mat-select class="custom-select"
                formControlName="active_bool">
      <mat-option [value]=true>True</mat-option>
      <mat-option [value]=false>False</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field color="accent" appearance="outline">
    <mat-label>EP Validation Translation Required bool:</mat-label>
    <mat-select class="custom-select"
                formControlName="ep_validation_translation_required">
      <mat-option *ngFor="let t of epValidationTranslate" [value]="t.id">{{t.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field color="accent" appearance="outline">
    <mat-label>Color:</mat-label>
    <input matInput type="text" formControlName="color">
  </mat-form-field>
  <mat-form-field color="accent" appearance="outline">
    <mat-label>Currency Name:</mat-label>
    <input matInput type="text" formControlName="currency_name">
  </mat-form-field>
  <div class="form-row" fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="column" fxLayoutAlign="start start">
      <p>Avail. Languages Formats</p>
      <mat-divider></mat-divider>
      <div *ngIf="getALangCtrlArray.controls.length > 0" formArrayName="available_languages">
        <div *ngFor="let aLang of getALangCtrlArray.controls; let i=index"
             fxLayout="column" fxLayoutAlign="start start">
          <div [formGroupName]="i">
            <div *ngIf="asFormGroup(aLang).controls.appl_type.value">
              <mat-divider></mat-divider>
              {{asFormGroup(aLang).controls.appl_type.value.application_type}}
              <div formArrayName="languages">
                <div *ngFor="let lang of returnLangsCtrlArray(asFormGroup(aLang)).controls; let j=index">
                  <div [formGroupName]="j">
                    <mat-checkbox
                      [disabled]="!formActive"
                      formControlName="selected"
                    >
                      {{asFormGroup(lang).controls.language.value.name}}
                    </mat-checkbox>
                    <mat-checkbox style="margin-left: 5px;"
                                  [disabled]="!formActive"
                                  formControlName="default">
                      default
                    </mat-checkbox>

                  </div>
                </div>
              </div>
            </div>

            <!--            <mat-checkbox-->
            <!--              [disabled]="!formActive"-->
            <!--              formControlName="selected">-->
            <!--              <div *ngIf="asFormGroup(doc).controls">-->
            <!--                <b>{{asFormGroup(doc).controls.doc.value.appl_type.application_type}}</b>,-->
            <!--                {{asFormGroup(doc).controls.doc.value.doc_format.name}}-->
            <!--              </div>-->
            <!--            </mat-checkbox>-->

          </div>
        </div>
      </div>

      <!--      <p>Languages</p>-->
      <!--      <div *ngFor="let lang of languages; let i=index">-->
      <!--        <mat-checkbox-->
      <!--          [disabled]="!formActive"-->
      <!--          [formControl]="getLangFormCtrlName(lang.id)"-->
      <!--          (change)="onLangCheckboxChange($event, lang.id)">-->
      <!--          {{lang.name}}-->
      <!--        </mat-checkbox>-->
      <!--      </div>-->
    </div>
    <div fxLayout="column" fxLayoutAlign="start start">
      <p>Application Types</p>
      <div *ngFor="let applType of applTypes; let i=index">
        <mat-checkbox
          [disabled]="!formActive"
          [formControl]="getApplTypesFormCtrlName(applType.id)"
          (change)="onApplTypeCheckboxChange($event, applType.id)">
          {{applType.long_name}}
        </mat-checkbox>
      </div>
    </div>
    <div class="form-row" fxLayout="row" fxLayoutAlign="center">
      <div fxLayout="column" fxLayoutAlign="start start">
        <p>ISA Countries</p>
        <div *ngFor="let country of countries; let i=index">
          <mat-checkbox
            [disabled]="!formActive"
            [formControl]="getCountriesFormCtrlName(country.id)"
            (change)="onISACheckboxChange($event, country.id)">
            {{country.long_name}}
          </mat-checkbox>
        </div>
      </div>
    </div>
    <div class="form-row" fxLayout="row" fxLayoutAlign="center">
      <div fxLayout="column" fxLayoutAlign="start start">
        <p>Avail. Entity Sizes</p>
        <div *ngFor="let ent of entitySizes; let i=index">
          <mat-checkbox
            [disabled]="!formActive"
            [formControl]="getEntFormCtrlName(ent.id)"
            (change)="onEntCheckboxChange($event, ent.id)">
            {{ent.entity_size}}
          </mat-checkbox>
        </div>
      </div>
    </div>
    <div class="form-row" fxLayout="row" fxLayoutAlign="center">
      <div fxLayout="column" fxLayoutAlign="start start">
        <p>Avail. Doc Formats</p>
        <mat-divider></mat-divider>
        <div *ngIf="docFormats.length > 0" formArrayName="available_doc_formats">
          <div *ngFor="let doc of getDocFormatCtrlArray.controls; let i=index"
               fxLayout="column" fxLayoutAlign="start start">
            <div [formGroupName]="i">
              <mat-checkbox
                [disabled]="!formActive"
                formControlName="selected">
                <div *ngIf="asFormGroup(doc).controls">
                  <b>{{asFormGroup(doc).controls.doc.value.appl_type.application_type}}</b>,
                  {{asFormGroup(doc).controls.doc.value.doc_format.name}}
                </div>
              </mat-checkbox>
              <mat-checkbox style="margin-left: 5px;"
                            [disabled]="!formActive"
                            formControlName="default">
                default
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button mat-flat-button color=primary style="margin-top: 10px;" (click)="onSubmit()">Submit</button>
</form>
