<div fxLayout="column" fxLayoutAlign="start center">
  <div class="formContainer">
    <mat-vertical-stepper
      (selectionChange)="updateData()"
      class="mat-elevation-z8" #stepper linear>
      <mat-step [completed]="familyFormComplete">
        <ng-template matStepLabel>Family Details</ng-template>
        <app-family-form
          (familyFormComplete)="setFamilyForm($event)"></app-family-form>
        <button mat-flat-button color="accent" (click)="stepper.next()">Next</button>
      </mat-step>
      <mat-step [completed]="firstApplFormComplete">
        <ng-template matStepLabel>First Application</ng-template>
        <app-first-appl-form
          [applTypes]="applTypes"
          [countries]="countries"
          [languages]="languages"
          [firstApplCustomOption]="firstApplCustomOption"
          (customApplOptions)="editApplOptions($event)"
          (init_appl_form)="setInitApplForm($event)"
        ></app-first-appl-form>
        <ng-template *ngTemplateOutlet="normalButtons; "></ng-template>
      </mat-step>
      <mat-step [completed]="parisStageFormComplete">
        <ng-template matStepLabel>Direct File Stage</ng-template>
        <app-paris-stage-form
          [applTypes]="applTypes"
          [parisCountries]="paris_countries"
          [blockedParisCountries]="blockedParisCountries"
          [customApplDetails]="parisCustomAppl"
          [paris_country_remove]="paris_country_remove"
          [paris_country_add]="paris_country_add"
          [paris_country_add_and_disable]="paris_country_add_and_disable"
          (parisStage)="setParisStageForm($event)"
          (customAppl)="editApplCustomApplDetails($event)"
        ></app-paris-stage-form>
        <div *ngIf="finalStep === FINAL_STEPS.PARIS_STAGE; else normalButtons">
          <ng-template *ngTemplateOutlet="finalButtons"></ng-template>
        </div>
      </mat-step>
      <mat-step
        *ngIf="aggFormData.pct_method"
        [completed]="internationalStageFormComplete">
        <ng-template matStepLabel>PCT Stage</ng-template>
        <app-international-stage-form
          [applTypes]="applTypes"
          [pct_ro_countries]="pct_ro_countries"
          [pctAcceptCountries]="pct_accept_countries"
          [blockedPCTCountries]="blockedPCTAcceptCountries"
          [blockedPCTCountry]="blockedPCTCountry"
          [countries]="countries"
          [customApplDetails]="pctCustomAppl"
          [pct_country_remove]="pct_country_remove"
          [pct_country_add]="pct_country_add"
          [pctMethodCustomDetails]="pctMethodCustomAppl"
          (intlStageForm)="setInternationalStageForm($event)"
          (customAppl)="editApplCustomApplDetails($event)"
          (formValid)="setIntlStageFormComplete($event)">
        </app-international-stage-form>
        <div *ngIf="finalStep === FINAL_STEPS.PCT_STAGE; else normalButtons">
          <ng-template *ngTemplateOutlet="finalButtons"></ng-template>
        </div>
      </mat-step>
      <mat-step
        *ngIf="aggFormData.ep_method"
        [completed]="epStageFormComplete">
        <ng-template matStepLabel>EP Stage</ng-template>
        <app-ep-stage-form
          [applTypes]="applTypes"
          [ep_countries]="ep_countries"
          [countries]="countries"
          [blockedEPValidCountries]="blockedEPValidCountries"
          [customApplDetails]="epCustomAppl"
          [epCustom]="epMethodCustomAppl"
          [ep_country_remove]="ep_country_remove"
          (epStage)="setEPStageForm($event)"
          (customAppl)="editApplCustomApplDetails($event)">
        </app-ep-stage-form>
        <div *ngIf="finalStep === FINAL_STEPS.EP_STAGE; else normalButtons">
          <ng-template *ngTemplateOutlet="finalButtons"></ng-template>
        </div>
      </mat-step>
      <mat-step
        *ngIf="addlInfoFormRequired"
        [completed]="epStageFormComplete">
        <ng-template matStepLabel>Addl Info Required</ng-template>
        <app-addl-info-form
          [entitySizes]="entitySizes"
          [addlCountries]="addlCountries"
          (addlStage)="setAddlStageForm($event)">
        </app-addl-info-form>
        <div *ngIf="finalStep === FINAL_STEPS.ADDL_STAGE; else normalButtons">
          <ng-template *ngTemplateOutlet="finalButtons"></ng-template>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</div>


<ng-template #normalButtons>
  <div class="form-row">
    <div>
      <button mat-flat-button color="primary" style="margin: 5px;"
              (click)="stepper.previous()">Back
      </button>
      <button mat-flat-button color="accent" style="margin: 5px;"
              (click)="stepper.next()">Next
      </button>
    </div>
  </div>
</ng-template>
<ng-template #finalButtons>
  <button mat-flat-button color="primary" style="margin: 5px;"
          [disabled]="buttonDisabled"
          (click)="stepper.previous()">Back
  </button>
  <button mat-flat-button color="accent" type="submit"
          style="margin: 5px;"
          [disabled]="buttonDisabled"
          (click)="onSubmit()">
    Submit
  </button>
  <div *ngIf="utilityChecker" class="form-row-btn">
    <ng-container [ngTemplateOutlet]="duplicateEntry"></ng-container>
  </div>
  <div *ngIf="epSingleEntryForm" class="form-row-btn">
    <ng-container [ngTemplateOutlet]="epSingleEntry"></ng-container>
  </div>
</ng-template>

<ng-template #duplicateEntry>
  <form [formGroup]="singleUtilityForm" *ngIf="utilityChecker">
    <div formArrayName="double_countries">
      <div *ngFor="let control of doubleUtilityFormArray.controls; let i=index">
        <div [formGroupName]="i" class="form-row" style="align-content: center; justify-content: center">
          {{control.value.country.country.long_name}}
          <mat-radio-group formControlName="appl_version" fxLayout="column">
            <mat-radio-button *ngFor="let appl_version of control.value.country.appl_versions"
                              [value]="appl_version">
              {{appl_version}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <button mat-flat-button color="primary" (click)="submitUtilityCorrections()">
        Correct Double Utility Patents
      </button>
    </div>
  </form>
</ng-template>

<ng-template #epSingleEntry>
  <div>
    <mat-radio-group [formControl]="ep_prior_selection" fxLayout="column">
      <mat-radio-button class="form-row" value="paris">File directly from First Application</mat-radio-button>
      <mat-radio-button class="form-row" value="pct">File in PCT</mat-radio-button>
    </mat-radio-group>
    <button mat-flat-button color="primary" (click)="submitEPSelection()">
      Select EP EntryPoint
    </button>
  </div>
</ng-template>
