<h2>
  Estimating Patent Costs with EstPat
</h2>
<p>
  Understanding patent costs is inherently difficult and time-consuming.
  The EstPat Patent cost estimator can greatly reduce the time required to project
  patent costs into the future.
</p>
<p>
  With that said, let's look at the costs of a common patent portfolio.
  Details for patent.
  The patent filing plan.
  Looking at the costs.
</p>
<ul>
  <li>
    US Provisional Patent application
  </li>
  <li>
    PCT Entry with EP as searching authority
  </li>
  <li>
    PCT National phase in EP, US, CN, JP, KR
  </li>
  <li>
    EP Validation phase in GB, DE, FR
  </li>
</ul>
<p>Picture of Total costs</p>
<p>
  The overwhelming majority of costs are translation costs incurred a couple of years after filing,
  due to entry into the PCT National phase.
</p>
<p>Let us take China as an example.</p>
<p>Let us look at the US</p>
<p>
  US Patent renewal fees occur in large spikes, it is really important to re-evaluate the patent's usefulness by 2037.
  This is a great opportunity to review total costs incurred maintaining the patent portfolio through all the countries.
  Eliminating costs for no-longer-useful patents is a great way to free up funds for newer more relevant patents.
</p>
<p>
  Total Patent Costs
  Total patent costs per country
</p>
